@import 'jeet'

// edit()

// Palette

// Blue Gray
whitish = #f7f7f7
bg50 = #eceff1
a100 = #80d8ff
a200 = #40c4ff
bg700 = #455a64
bg100 = #cfd8dc
a400 = #00b0ff
bg900 = #263238
navette2 = #293b47
babyblue = #d7e4ed
ocean = #001528
navette = #303e49

// Alpha values -
dividers = rgba(0,0,0,.12)
hints = rgba(0,0,0,.26)
secondary = rgba(0,0,0,.54)
primary = rgba(0,0,0,.87)

tagline_color = #212121

body_color = bg900
body_bg = babyblue

link_color = navette
link_hover_color = bg100
link_hover_bg = bg900
link_active_color = bg50
link_active_bg = bg900

button_bg = bg700
button_color = bg50
button_hover_color = bg50
button_hover_bg = bg900
button_border_color = bg100

footer_color = bg100
footer_bg = navette2
footer_link_color = bg100
footer_link_hover_color = bg400

zebra_stripe_color = bg50

timeline_bubble = bg50
timeline_border = bg100
timeline_line = bg50
timeline_img_bg = bg100



// Typograpic
typo_breakpoint ?= 1024px
typo_headers ?= oswald
typo_header_weight ?= 600
typo_body ?= lato
typo_mobile ?= golden
typo_desktop ?= octave
typo_tagline_color ?= tagline_color
typo_body_color ?= body_color
typo_header_color ?= navette
@import 'typographic'


html *
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

*,
*:after,
*:before
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

h1
  font-weight 700
  text-transform uppercase

.topbar
  display block
  min-height ms(5)
  background footer_bg


header
  background whitish
// .cta
//   background babyblue
.main
  background whitish

footer
  background footer_bg


html
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  font-size 100%

body
  font-size 16px
  a
    color link_color
    text-decoration none
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition all .2s linear
    -moz-transition all .2s linear
    -o-transition all .2s linear
    transition all .2s linear
    &:hover
      color ocean


header
  text-align justify
  letter-spacing 1px
  text-transform uppercase
  height 8em
  padding ms(10) 10% ms(10)
  h1
    font-size ms(20)
  a
    text-decoration none
  > div,
  > div::before,
  div h1,
  nav
    display inline-block
    vertical-align middle
    text-align left
  > div
    width 50%
    height 100%
    text-align left
    &::before
      content ''
      height 100%
  ul
    list-style-type none
  .brand
    font-family Gunship, Impact, 'Helvetica Neue', sans-serif
    letter-spacing 5px
  nav a
    line-height 1.5
    padding ms(3) ms(5)
    margin-top ms(15)
    text-decoration none
    white-space nowrap
    &:hover
      color link_hover_color
      background-color link_hover_bg
  .active
    color link_active_color
    background-color link_active_bg
  &::after
    content ''
    display inline-block
    width 100%

.menu
  text-align center

.menu__title
  display block
  text-transform uppercase

.about__subtitle
  display block
  font-weight 700
  font-size ms(15)
  padding-bottom ms(15)
  color bg100


.menu__section,
.product
  position relative
  col(12/25)
  background-size cover
  background-position center top
  -moz-transition all .2s cubic-bezier(.4,0,.2,1)
  -webkit-transition all .2s cubic-bezier(.4,0,.2,1)
  transition all .2s cubic-bezier(.4,0,.2,1)
  &:hover
    img,
    .product__description,
    .menu__section__description
      -webkit-box-shadow 0px 8px 17px rgba(0, 0, 0, 0.2)
      -moz-box-shadow 0px 8px 17px rgba(0, 0, 0, 0.2)
      box-shadow 0px 8px 17px rgba(0, 0, 0, 0.2)
  img,
  .product__description,
  .menu__section__description
    box-sizing border-box
    -webkit-box-shadow 0px 3px 2px rgba(0, 0, 0, 0.2)
    -moz-box-shadow 0px 3px 2px rgba(0, 0, 0, 0.2)
    box-shadow 0px 3px 2px rgba(0, 0, 0, 0.2)
  img
    display block
    width 100%
    max-width 100%
  .product__description,
  .menu__section__description
    -moz-transition all .2s cubic-bezier(.4,0,.2,1)
    -webkit-transition all .2s cubic-bezier(.4,0,.2,1)
    transition all .2s cubic-bezier(.4,0,.2,1)
    position relative
    text-align center
    border-top 1px solid bg50
    background-color #ebebeb
    width 100%
    z-index 2
  a
    text-decoration none
    color link_color
    -webkit-transition all .2s
    transition all .2s
    -moz-transform translate3d(0,0,0)
    -webkit-transform translate3d(0,0,0)
    transform translate3d(0,0,0)



.main
  display block
  padding ms(20) 10% ms(40)

.about,
article
  p
    text-align left

.cta__description
  span(2/6)
.cta__form
  span(4/6)
.cta__note
  span(1)

.products,
.menu,
.main,
.cta,
.contact__form,
article > div,
.about > div,
.about__section
  cf()

blockquote
  margin 0 0 1.11111rem
  padding 0.5rem 1.11111rem 0 1.05556rem
  border-left 1px solid #ddd
  line-height 1.6

blockquote cite
  display block
  font-weight normal
  &::before
    content "\2014 \0020"
  a
    color navette

.boatline
  font-family "Amatic SC", cursive
  // font-size 3em
  text-align center
  display block
  padding 1em 0 0.5em
  background footer_bg
  color footer_color
  margin 0

footer
  color footer_color
  display block
  min-height 12em
  height 100%
  cf()
  section
    col(1/3)
    ul
      list-style-type none
  a
    color footer_link_color
    text-decoration none
    &:hover
      color footer_link_hover_color
  li.list__title
    font-weight 700
    font-style italic
  li.fa
    display inline-block
    // margin-right 20px
    font-size 1.5em

article
  img
    display block
    max-width 100%
    margin 0 auto

.gallery
  .gallery__img
    width 100px
    height 100px
  img
    max-width 100%
    max-height 100%
  .th
    line-height 0
    display inline-block
    border solid 4px #fff
    max-width 100%
    box-shadow 0 0 0 1px rgba(0, 0, 0, 0.2)
    transition all 200ms ease-out
    &:hover,
    &:focus
      box-shadow: 0 0 6px 1px rgba(40, 40, 50, 0.5);


.about__section
  margin-bottom ms(30)
  img
    max-width 100%

.half,
.equipment ul,
.specification ol
  span(1/2)

.half-col
  col(1/2)

.specification
  img
    margin-bottom ms(20)
  hr
    clear both

.contact
  .contact__list
    span(1)
    margin-bottom ms(40)
  li
    list-style-type none
  .contact__form
    padding-top ms(10)
    .subtitle
      display block
      margin-bottom ms(10)
  ul,
  ol
    padding-left 0

.smallprint
  font-size ms(8)
  color #666
  display block

article
  table
    width 100%

tbody
  tr:nth-child(odd)
    background-color zebra_stripe_color

@media screen and (max-width: 64em)
  .main
    padding 0 5% ms(20)
  header
    height auto
    > div,
    > div h1,
    nav
      height auto
      width auto
      display block
      text-align center
  .half,
  .half-col
  .product,
  .menu__section,
  .cta__description,
  .cta__form,
  .contact__entry
    stack()
  .contact__entry
    padding-top ms(20)
  blockquote
    padding 20px 20px
  footer
    padding ms(20) 5%
    section
      stack()
      margin-top ms(20)
  .equipment ul
    stack()
  .equipment
    ul
      margin-left 1em
  .specification
    ol,
    ol:first-child
      margin-left 1em
  .gallery__img
    margin-right ms(3)
  article > div
    margin-bottom ms(20)
  .cta
    margin-top ms(20)
  .menu__section,
  .product
    margin-bottom ms(10)
  .product__description,
  .menu__section__description
    .inner
      padding ms(15) ms(20) ms(10)
  .cd-top
    right 20px
    bottom 20px
  .timeline__content
    h2
      font-size ms(12.5)
      font-size 1.25rem
    p
      font-size ms(10)
      font-size 1rem

    .timeline__date,
    .timeline__link
      font-size ms(8.75)
      font-size 0.875rem
  .timeline
    padding ms(20) 0
    margin-top ms(20)
    margin-bottom ms(20)
    &::before
      left 18px
  .timeline__img
    top 0
    left 0
    width 40px
    height 40px
  .timeline__wrapper
    margin ms(20) 0


@media screen and (min-width: 64em)
  .main
    padding ms(20) 10% ms(40)
  .cta
    margin-top ms(60)
  footer
    padding ms(50) 5% ms(20)
  article
    .columns
      -webkit-column-count: 3;
      -webkit-column-gap: 1%; /* Saf3, Chrome*/
      -moz-column-count: 3;
      -moz-column-gap: 1%; /* FF3.5+ */
      column-count: 3;
      column-gap: 1%; /* Opera 11+*/
  article > div
    margin-bottom ms(20)
  .review
    blockquote
      margin 0 10%
  .contact__entry
    col(1/3)
  .gallery__img
    margin-right ms(10)
  .menu__section,
  .product
    margin-bottom ms(30)
  .gallery
    center()
  .product__description,
  .menu__section__description
    .inner
      min-height ms(30)
      padding ms(20) ms(25)
  .cd-top
    height 60px
    width 60px
    right 30px
    bottom 30px
  .timeline
    margin-top ms(30)
    margin-bottom ms(30)
    padding ms(30) ms(60)
    &::before
      left 50%
      margin-left -2px
  .timeline__wrapper
    margin ms(40) 0
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
  .timeline__img
    width 60px
    height 60px
    left 50%
    margin-left -30px
    // Force HW acc
    -webkit-transform: translateZ(0)
    -webkit-backface-visibility hidden
  .timeline
    .timeline__content
      margin-left 0
      padding ms(16)
      width 45%
      &::before
        top ms(15)
        left 100%
        border-color transparent
        border-left-color timeline_bubble
      .timeline__link
        float left
      .timeline__date
        position absolute
        width 100%
        left 122%
        top ms(6)
        font-size ms(10)
        font-size 1rem
  .timeline__wrapper
    &:nth-child(even)
      .timeline__content
        float right
        &::before
          top ms(15)
          left auto
          right 100%
          border-color transparent
          border-right-color timeline_bubble
        .timeline__link
          float right
        .timeline__date
          left auto
          right 122%
          text-align right


.cssanimations
  .timeline__img
    // Force HW acc
    -webkit-transform: translateZ(0)
    -webkit-backface-visibility hidden
  .timeline__img--hidden
    visibility hidden
  .timeline__img.bounce-in
      -webkit-animation cd-bounce-1 0.6s
      -moz-animation cd-bounce-1 0.6s
      animation cd-bounce-1 0.6s
      visibility visible
  .timeline__wrapper:nth-child(even)
    .timeline__content.bounce-in
      -webkit-animation cd-bounce-2-inverse 0.6s
      -moz-animation cd-bounce-2-inverse 0.6s
      animation cd-bounce-2 inverse 0.6s
      visibility visible


@media screen and (min-width: 125em)
  .main
    min-height 50em

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea
  -webkit-appearance none
  background-color #fff
  font-family inherit
  border 1px solid #cccccc
  box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
  color rgba(0, 0, 0, 0.75)
  display block
  margin 0 0 0.88889rem 0
  padding 0.44444rem
  height 2.05556rem
  width 100%
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  transition box-shadow 0.45s border-color 0.45s ease-in-out

textarea
  height 10rem

button,
.button
  border-style solid
  border-width 0px
  cursor pointer
  font-weight normal
  line-height normal
  margin 0 0 1.11111rem
  position relative
  text-decoration none
  text-align center
  -webkit-appearance none
  -webkit-border-radius 0
  display inline-block
  padding-top 0.88889rem
  padding-right 1.77778rem
  padding-bottom 0.94444rem
  padding-left 1.77778rem
  font-size ms(8)
  text-transform uppercase
  background button_bg
  color button_color
  border-color button_border_color
  transition background-color 300ms ease-out
  &:hover
    background-color button_hover_bg
    color button_hover_color

.right
  float right

.left
  float left

.translate
  color maroon !important

// Back to top button
.cd-top
  display inline-block
  width 40px
  height 40px
  position fixed
  bottom 40px
  right 10px
  box-shadow 0 0 10px rgba(0,0,0,0.05)
  overflow hidden
  text-indent 100%
  white-space nowrap
  background rgba(41,59,71,0.8) url('../img/cd-top-arrow.svg') no-repeat center 50%
  visibility hidden
  opacity 0
  -webkit-transition all .3s linear
  -moz-transition all .3s linear
  -o-transition all .3s linear
  transition all .3s linear

.cd-top--visible
  visibility visible
  opacity 1

.cd-top--faded
  opacity 0.5

.no-touch
  .cd-top:hover
    background-color navette2
    opacity 1

// Timeline
.timeline
  position relative
  // The vertical line
  &::before
    content ''
    position absolute
    top 0
    height 100%
    width 4px
    background timeline_line

.timeline__wrapper
  position relative
  &:after
    content ""
    display table
    clear both
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

.timeline__img
  position absolute
  border-radius 50%
  background timeline_img_bg
  box-shadow 0 0 0 4px timeline_bubble, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05)
  img,
  span
    display block
    width 24px
    height 24px
    position relative
    left 50%
    top 50%
    margin-left -12px
    margin-top -12px

.timeline__content
  position relative
  margin-left 60px
  background timeline_bubble
  border-radius ms(2.5)
  padding ms(10)
  box-shadow 0 3px 0 timeline_border
  &::after
    content ''
    display table
    clear both
  &::before
    content ''
    position absolute
    top ms(10)
    right 100%
    height 0
    width 0
    border 7px solid transparent
    border-right 7px solid timeline_bubble
  p
    margin ms(10) 0
    line-height ms(16)
  .timeline__link
    float right
    padding ms(8) ms(10)
    background bg100
    color whitish
    border-radius ms(2.5)
  .timeline__date
    float left
    padding ms(8) 0
    opacity 0.7

.no-touch
  .timeline__content
    .timeline__link
      &:hover
        background-color bg100

// Bounce animations
@-webkit-keyframes cd-bounce-1
  0%
    opacity 0
    -webkit-transform scale(0.5)
  60%
    opacity 1
    -webkit-transform scale(1.2)
  100%
    -webkit-transform scale(1)

@-moz-keyframes cd-bounce-1
  0%
    opacity 0
    -moz-transform scale(0.5)
  60%
    opacity 1
    -moz-transform scale(1.2)
  100%
    -moz-transform scale(1)

@keyframes cd-bounce-1
  0%
    opacity 0
    -webkit-transform scale(0.5)
    -moz-transform scale(0.5)
    -ms-transform scale(0.5)
    -o-transform scale(0.5)
    transform scale(0.5)

  60%
    opacity 1
    -webkit-transform scale(1.2)
    -moz-transform scale(1.2)
    -ms-transform scale(1.2)
    -o-transform scale(1.2)
    transform scale(1.2)

  100%
    -webkit-transform scale(1.0)
    -moz-transform scale(1.0)
    -ms-transform scale(1.0)
    -o-transform scale(1.0)
    transform scale(1.0)


@-webkit-keyframes cd-bounce-2
  0%
    opacity 0
    -webkit-transform translateX(-100px)


  60%
    opacity 1
    -webkit-transform translateX(20px)


  100%
    -webkit-transform translateX(0)


@-moz-keyframes cd-bounce-2
  0%
    opacity 0
    -moz-transform translateX(-100px)


  60%
    opacity 1
    -moz-transform translateX(20px)


  100%
    -moz-transform translateX(0)


@keyframes cd-bounce-2
  0%
    opacity 0
    -webkit-transform translateX(-100px)
    -moz-transform translateX(-100px)
    -ms-transform translateX(-100px)
    -o-transform translateX(-100px)
    transform translateX(-100px)


  60%
    opacity 1
    -webkit-transform translateX(20px)
    -moz-transform translateX(20px)
    -ms-transform translateX(20px)
    -o-transform translateX(20px)
    transform translateX(20px)


  100%
    -webkit-transform translateX(0)
    -moz-transform translateX(0)
    -ms-transform translateX(0)
    -o-transform translateX(0)
    transform translateX(0)


@-webkit-keyframes cd-bounce-2-inverse
  0%
    opacity 0
    -webkit-transform translateX(100px)


  60%
    opacity 1
    -webkit-transform translateX(-20px)


  100%
    -webkit-transform translateX(0)


@-moz-keyframes cd-bounce-2-inverse
  0%
    opacity 0
    -moz-transform translateX(100px)


  60%
    opacity 1
    -moz-transform translateX(-20px)


  100%
    -moz-transform translateX(0)


@keyframes cd-bounce-2-inverse
  0%
    opacity 0
    -webkit-transform translateX(100px)
    -moz-transform translateX(100px)
    -ms-transform translateX(100px)
    -o-transform translateX(100px)
    transform translateX(100px)


  60%
    opacity 1
    -webkit-transform translateX(-20px)
    -moz-transform translateX(-20px)
    -ms-transform translateX(-20px)
    -o-transform translateX(-20px)
    transform translateX(-20px)


  100%
    -webkit-transform translateX(0)
    -moz-transform translateX(0)
    -ms-transform translateX(0)
    -o-transform translateX(0)
    transform translateX(0)

