{% extends('about_template.html') %}

{% set page_title = 'Om Navette' %}
{% set about_title = 'Who we are' %}
{% set about_subtitle = '& what we do' %}
{% block about_text_one %}
We offer more than 12 years of experience, having designed and produced a wide variety of composite solutions for maritime and automotive industries as well as individuals - from boats and car body parts to swimming pools and storage boxes.
{% endblock %}
{% block about_text_two %}
Vi gjør alt fra konstruksjon og design til formbygging og produksjon...
We do everything from engineering and design to tooling and production as a part of both our own solutions and partnerships. Our production methods are mainly wet layup and resin infusion. High quality and attention to detail are our core values at every stage of the production process.
{% endblock %}
{% block about_text_three %}
We truly believe that good design not only looks good, but more importantly, works well for the user. A lot of thought has been put into design of each one of our products, to make sure that they are both practical and easy to use.
{% endblock %}

{% set history_title = 'A brief history of Navette' %}
{% set history_subtitle = 'or how it all came to be' %}

{% set timeline = [('Foundation of the Company',
'Navette is founded in Norway. The company is born out of an idea to design and manufacture pleasure boats. Initially there are 3 founders, but later Rune Nilsen buys all shares.',
'Year 2001'),
('Launch of Navette S 565',
'After a year of hard work and effort, the first fiberglass boat - <a href="/s565">Navette S 565</a> is launched into production.' | safe,
'Year 2002'),
('Availability',
' Production is outsourced to a Latvian company with a goal to cut costs while maintaining the quality. This step results in lower prices and product being more available to the customer.  ',
'Year 2003'),
('Quality Assurance',
' To ensure quality control, Navette expands its operations to Latvia, estabilishing a production facility in Saldus. The facility is small but for now - satisfactory.  ',
'Year 2003'),
('Launch of S 540',
'The second fiberglass boat in the series - <a href="/s540">Navette S 540</a> is introduced to the market.' | safe,
'Year 2003'),
('A Change of Mindset',
' Due to pleasure boat market being very unstable, a decision is made to also produce other products. At the same time Navette expands to much larger, now its own production facilities near Saldus.  ',
'Year 2005'),
('Going automotive',
' Navette produces fiberglass bodies for a city electric car <a href="http://en.wikipedia.org/wiki/Buddy_(electric_car)" rel="nofollow">Buddy</a>, the sixth generation of the Kewet electric vehicle.' | safe,
'Year 2007-2010'),
('Hard to top',
' In cooperation with Loyds Industri begins fiberglass hardtop production for Toyota Hilux. Navette also designs and adds a hardtop for VW Amarok to its product line.  ',
'Year 2012')]
%}
