{% extends 'amarok_template.html' %}
{% set page_title = 'Hardtop til VW Amarok' %}
{% set product_title = 'Hardtop for VW Amarok' %}

{% block description_text_one %}
    We have designed a durable and lightweight VW Amarok hardtop which uses the exact design elements from the car. The hardtop is made to be flush with the car, giving it a continous appearance and two-box form of a station wagon. Roofshape of the hardtop is styled the same way as car's. It is also the same width as the car itself. Bottom of the hardtop follows the A-line from headlight to taillight, tracing the car's silhouette. The shape of the side panels adds nicely to the look of the whole car. When driving, the hardtop itself makes no extra wind noise. Integrated spoiler can optionally be equipped with a high level brake light.
{% endblock %}

{% block description_text_two %}
    Navette hardtops are constructed using multi-layered laminated glass fiber mats. The UV-resistant surface is made of durable, very robust Gelcoat. The paint is color coded to the VW Amarok paint codes. The painting process uses the most modern knowledge of surface treatment and confirms to the latest European regulations.
{% endblock %}

{% set features_title = 'Features' %}
{% set standard_features_title = "Standard features" %}
{% set standard_features = [
  'Inside sprayed with durable PVC',
  'Integrated spoiler',
  'Ready for Thule roof bars',
  'Solid sides',
  'Solid rear hatch with gas struts',
  'Complete fitting instructions'
] %}

{% set extra_features_title = "Standard features" %}
{% set extra_features = [
  'Tinted side windows',
  'LED interior lighting',
  'Rear breaklight',
  'Central locking on rear hatch. <span class="smallprint">(Only for cars with central locking on fuel hatch.)</span>' | safe,
  'Roof bars from Thule'
] %}

{% set specification_title = "Specification" %}

{% set specification = [
      ('Width',
      '1760 mm'),
      ('Length',
      '1590 mm'),
      ('Height',
      '640 mm'),
      ('Loading height',
      '1040 mm'),
      ('Loading width',
      '1350 mm'),
      ('Weight',
      '60 kg'),
      ('Maximum roof load',
      '50 kg'),
      ('Width of the side hatch',
      '1200 - 1000 mm'),
      ('Height of the side hatch',
      '760 - 720 mm'),
      ('Max box size through aft hatch',
      '1300 x 1050 x 920 mm'),
      ('Max box size inside compartment',
      '1300 x 1200 x 1040 mm')
] %}

{% block cta %}
{% import 'macros.html' as macros %}
{{ macros.product_cta() }}
{% endblock %}
