{% extends('contact_template.html') %}
{% set page_title = 'Get in touch with Navette' %}

{% set headquarters = 'Hovedkontor' %}
{% set production='Produksjon' %}
{% set ceo = 'Administrerende direktør' %}

{% set contact_form_title = 'Kontakt oss' %}
{% set contact_form_subtitle = 'Send oss en melding og vi vil svare så godt vi kan.' %}
{% set contact_name_label = 'Navn' %}
{% set contact_name_placeholder = 'Ditt navn' %}
{% set contact_from_label = 'Fra e-post' %}
{% set contact_from_placeholder = 'Din e-post' %}
{% set contact_msg_label = 'Melding' %}
{% set contact_msg_placeholder = "Din melding" %}
{% set contact_send_label = "Send" %}

