{% extends 'hilux_template.html' %}
{% set page_title = "Hardtop til Toyota Hilux" %}

{% set product_title = "Toyota Hilux SR5 Cargo Hardtop" %}

{% block description_text_one %}
<span class="translate">We are proud to have been given an opportunity by Loyds Industri to take part in manufacturing of this exclusive hardtop.</span>
Påbygget er laget slik at det kan inkludere en rekke alternative innredninger fra Loyds - dobbelt uttrekkbart gulv, skuffer for lagring av verktøy, og muligheter for reoler på en eller begge sider. Tre låsbare luker, en bak og en på hver side. Både sideluker og bakluke har gassdempere for enkel adkomst. Spesialtilpasset og vann og støvtett påbygg gjør at varerommet blir lukket. Solide takrails for utvendig taktransport. <span class="translate">And much more.</span>
{% endblock %}

{% block description_text_two %}
Hilux Cargo er en spesialmodell utviklet av Toyota Norge, og som følgelig kun selges her i landet. Har du allerede en Hilux, men ønsker påbygget, så kan dette selvfølgelig ettermonteres på eldre biler. Ta kontakt med din Toyota forhandler for nærmere detaljer.
{% endblock %}

{% set specification_title = "Spesifikasjon" %}
{% set specification = [
  ('Lengde vareromsgulv',
  '1800 mm'),
  ('Bredde vareromsgulv',
  '1470 mm'),
  ('Høyde bakke baklem',
  '800 mm'),
  ('Lenge i topp/innstikk',
  '2850 mm'),
  ('Sideluke størrelse',
  '1400x400 mm'),
  ('Vekt topp',
  '108 kg')
] %}
