{% extends('s565_template.html') %}

{% set page_title = 'Navette S 565 - Rask og sikker skjærgårdsjeep med fantastiske sjøegenskaper' %}

{% block description_text_one %}
S565 kombinerer fordelene med en Jeep og en bowrider. Den har Jeepens enkle bruksegenskaper og bowriderens beskyttelse mot vær og vind. Under utviklingen av båten er det lagt særlig vekt på ergonometri. Det er enkelt å bevege seg ibåten og sitteplassene er behagelige. Foran er der solseng til 2-3 personer med full lengde. Der er også mulig for 5-6 personer å sitte rundt et bord.
Førerplassen er blant markedets desidert beste. Føreren kan sitte, halvt stå eller stå og likevel ha god oversikt over instrumenter og farvann. Ratt og gass/trim sitter akkurat der de skal være. Der er god plass til beina under styrekonsollen og knær kommer ikke i konflikt med noen kanter.
Cocpiten er dyp med gode håndrekker. Båten er naturligvis selvlensende, også med 7 personer ombord. Vindskjermen gir god beskyttelse bak styrekonsollen.
Skroget har en relativ dyp V-bunn med 21,5 grader i senter vannlinje. Det er håndopplagt med triaksial duk under vannlinjen. Hekken er spesielt kraftig da motorfundamentet er trukket noe bak hekken og forsterket direkte i langsgående forsterkninger.
Under benken foran er det rom til alle løse puter. Under styrekonsollen er der plass til fiskekasse eller kjøleboks, samt redningsvester o.l.. Der er også eget rom for lange gjenstander slik som fiskestang og vannski.
{% endblock %}

{% set advantages = '&nbsp;' | safe %}
{% block advantages_description %}
Under akterbenken er batterikasse, tankinspeksjon, samt stort stuverom. På hekken er det rom til fendere. Disse er jo ofte skitne og trenger ikke å tas inn i båten. Alle luker i cocpiten kan utstyres med lås.
Høy hekk som gir god sikkerhet, port på hekken med integrert badetrapp, port på babord side for enkel i land-stiging., stor vindskjerm, gjennomtenkt ergonomisk førerplass, kalesje bak vindskjermen med plass til 6 personer, solseng eller sitteplass for 6 foran vindskjerm, store stuverom med plass til putesett, kjølebag, fiskestenger , redningsvester, vannski osv.
{% endblock %}

{% set quality = 'Kvalitet - Sikkerhet' %}
{% block quality_description %}
Alt utstyr ombord er av beste kvalitet. Det er brukt førsteklasses GRP materialer i støpen. Gelcoaten er av en type som har den beste lysekthet og det er minimal vanninntrenging i den. Dette hindrer osmose.  Både i skrog og overbygg er det brukt sydd triaksial glassfibermatte. Dette gir et bedre styrk/vekt forhold. Alle beslag og skruer er i syrefast materiale.
{% endblock %}

{% set features_title = 'Utstyr' %}
{% set standard_features_title = "Standart utstyr" %}
{% set standard_features = [
  'Hydraulisk styring',
  'Polstret sete med vippefront og gassdemper',
  'Fastmontert, nedfellbar badestig',
  'Vannskikrok',
  'Stuverom for anker/tauverk',
  'Selvdrenerende cockpit',
  'Batterikasse m/hovedstrømbryter',
  'Manuell lensepumpe',
  'Låsbare rom til baggasje/utstyr',
  'Fastmontert brennstofftank m/måler',
  'Stor vindskjerm for Nordiske forhold',
  'Eksklusivt instrumentpanel',
  'Bryterpanel m/automatsikringer',
  'Eksklusivt ratt',
  'Brannslukningsapparat'
] %}

{% set extra_features_title = "Ekstrautstyr" %}
{% set extra_features = [
  'Blått skrog',
  'Flexiteek dørk',
  'Kalesje',
  'Puter på akterbenk',
  'Puter på frontbenk',
  'Coctailbord foran',
  'Solseng',
  'Radio/CD spiller med 2 høytalere',
  'Montering av ekkolodd',
  'Bunnsmøring',
  'Monteringspakke for motor'
] %}

{% set specification_title = "Spesifikasjon" %}
{% set partmap_one = [
  'Drenering',
  'Manuell pumpe',
  'Pullert',
  'Badetrapp',
  'Bensintank',
  'Ankerbrønn'
] %}

{% set partmap_two = [
  'Stuverom cocpit',
  'Stuverom skrog',
  'Hanskerom',
  'Drenert stuverom',
  'Sideport',
  'Hekkport'
] %}

{% set specification = [
  ('Lengde',
  '565 cm'),
  ('Bredde',
  '225 cm'),
  ('Dybde',
  '31 cm'),
  ('Fribord senter',
  '90 cm'),
  ('Høyde over vannlinje m/vindskjerm ',
  '166 cm'),
  ('Vekt uten motor',
  '640 kg'),
  ('Nyttelast',
  '580 kg'),
  ('Bæreevne personer',
  '7'),
  ('Stammelengde',
  'Lang'),
  ('Motor effekt min',
  '52/70 kW/HK'),
  ('Motor effekt max',
  '103/140 kW/HK'),
  ('Kabellengde',
  '6"'),
  ('Hydrauliske slanger lengde',
  '500 cm'),
  ('Konstruksjonskategori',
  'CE C'),
  ('Lensesystem',
  'Selvlenser'),
  ('Tank',
  '95 liter'),
  ('Ankerboks foran',
  '1'),
  ('Stuerom antall',
  '4'),
  ('Hanskerom',
  '1'),
  ('<h6>Fartsprøver</h6>' | safe,
  '&nbsp;' | safe),
  ('Motor',
  'Suzuki DF90'),
  ('Hastighet (2 pers)',
  '36,0 knop'),
  ('Motor',
  'Suzuki DF115'),
  ('Hastighet (2 pers)',
  '41,5 knop')
] %}

{% block smallprint %}
Vi forbeholder oss retten til endring av spesifikasjoner uten varsel. Reelle ytelser vil kunne variere individuelt i forhold til oppgitte testverdier.
{% endblock %}

{% set reviews = 'Anmeldelser' %}
{% block review_text %}
“Det er fortsatt mulig å tenke nytt når det gjelder skjærgårdsjeeper, noe Navette S565 er et godt eksempel på. Ålesundsbedriften har etter vår mening laget noe av det mest spennende og nytenkende på jeepfronten på lang tid.”
{% endblock %}
{% set review_link_text = 'Stein Viken, Båtliv' %}

{% block cta %}
{% import 'macros.html' as macros %}
{{ macros.product_cta() }}
{% endblock %}
