{% extends('contact_template.html') %}
{% set page_title = 'Kontakt oss - Navette' %}

{% set headquarters = 'Headquarters' %}
{% set production='Production operations' %}
{% set ceo = 'Managing director' %}

{% set contact_form_title = 'Get in touch' %}
{% set contact_form_subtitle = "Drop us a line. We'd be delighted." %}
{% set contact_name_label = 'Name' %}
{% set contact_name_placeholder = 'Your name' %}
{% set contact_from_label = 'E-mail' %}
{% set contact_from_placeholder = 'Your e-mail' %}
{% set contact_msg_label = 'Message' %}
{% set contact_msg_placeholder = "Your message" %}
{% set contact_send_label = "Send" %}
