{% extends 'hilux_template.html' %}
{% set page_title = "Hardtop for Toyota Hilux" %}

{% set product_title = "Toyota Hilux SR5 Cargo Hardtop" %}

{% block description_text_one %}
    We are proud to have been given an opportunity by Loyds Industri to take part in manufacturing of this exclusive hardtop. The hardtop is designed so that it can include a variety of alternative furnishings - double retractable floor, drawers for storage of tools and possibilities for shelving on one or both sides, all of which is provided by Loyds. Three lockable doors, one rear and one on each side. Both side and rear hatches are fitted with gas struts for easy access. Customized body makes the load compartment water and dust proof. Solid roof rails for exterior roof transportation. And much more.
{% endblock %}

{% block description_text_two %}
    Please note that Hilux Cargo is a special model developed by Toyota Norway, and is therefore only sold in this country. If you are located in Norway and already have a Hilux, this can of course be retrofitted on older cars. For more details please contact your Toyota dealer.
{% endblock %}

{% set specification_title = "Spesifikasjon" %}
{% set specification = [
  ('Load compartment floor length',
  '1800 mm'),
  ('Load compartment floor width',
  '1470 mm'),
  ('Høyde bakke baklem',
  '800 mm'),
  ('Max length in load compartment',
  '2850 mm'),
  ('Side hatch opening size',
  '1400x400 mm'),
  ('Hardtop weight',
  '108 kg'),
] %}
