{% extends('s540_template.html') %}
{% set page_title = 'Navette S 540 - an excellent boat for sport and leisure.' %}

{% block description_text_one %}
        S 540 is a sporty console boat with great performance. A special emphasis was put on ergonomics during the development of the boat. Seats are comfortable and it is possible to move around in the boat with ease. The cockpit is among the absolute best. The driver has a good overview of instruments and water no matter if standing or sitting. Steering wheel and gas/trim sits right where they should be and there is plenty of room for your legs under the steering consle. The windshield provides good protection behind the control console. The hull has a relatively deep V-bottom which makes the ride soft even in rough waters.
        <span class="translate">
          Det er håndopplagt med triaksial duk i skroget. Hekken er spesielt kraftig da motorfundamentet er trukket noe bak hekken og forsterket direkte i langsgående stringere. Båten lander mykt i sjøen, hekken slipper ikke og det er bortimot umulig å kavitere propellen.
        </span>
        Under the console there is spacious storage room, while under the stern bench seat is located battery, <span class="translate">tankinspeksjon</span> and a large storage locker.
{% endblock %}

{% set quality = 'Kvalitet - Sikkerhet' %}
{% block quality_description %}
      The boat is self-bailing. Only high quality gelcoat and GRP materials are used in production, ensuring great physical properties and resistance to water. Therefore you dont have to worry about things like osmosis. The composite layer of both hull and superstructure includes stitched triaxial fiberglass mat, which allows for excellent strength-to-weight ratio. All on-board equipment is of high quality. All fittings and accessories are made from corrosion and acid resistant materials.
{% endblock %}

{% set features_title = 'Features' %}
{% set standard_features_title = "Standard features" %}
{% set standard_features = [

    'Padded seats with shock mitigation and flip-up front',
    'Fixed, foldable boarding ladder',
    'Storage compartment for anchor/ropes',
    'Self-bailing system',
    'Battery housing with main switch',
    'Manual bilge pump',
    'Lockable room for equipment',
    'Fixed fuel tank with capacity markings',
    'Large windshield, well suited for Nordic conditions',
    'Exclusive dashboard',
    'Switch panel with 12V outlet',
    'Fire extinguisher',
    'Console cover'
] %}

{% set extra_features_title = "Extra features" %}
{% set extra_features = [
    'Blue/White hull',
    'Flexiteek decking',
    'Canopy',
    'Pillows for front seats',
    'Pillows for rear seats',
    'Cocktail table',
    'Radio/CD player',
    'Sonar',
    'Anti-fouling paint',
    'Suzuki mounting kit'
] %}

{% set specification_title = "Spesifikasjon" %}
{% set partmap_one = [
    'Drainage',
    'Manual pump',
    'Bollard',
    'Boarding ladder',
    'Fuel tank'
] %}

{% set partmap_two = [
    'Anchor compartment',
    'Cockpit storage compartment',
    'Stuverom skrog',
    'Glove compartment'
] %}

{% set specification = [
    ('Length',
    '538 cm'),
    ('Width',
    '208 cm'),
    ('Depth',
    '27 cm'),
    ('Freeboard center',
    '73 cm'),
    ('Height above waterline w/ windshield ',
    '130 cm'),
    ('Weight without motor',
    '520 cm'),
    ('Max payload',
    '520 kg'),
    ('Max persons',
    '6 '),
    ('Stammelengde',
    'Lang'),
    ('Min motor power',
    '52/70 kW/HP'),
    ('Max motor power',
    '103/140 kW/HP'),
    ('Kabellengde',
    '5"'),
    ('Styrewire lengde',
    '4"'),
    ('Category',
    'CE C'),
    ('Bailing system',
    'Self-bailing'),
    ('Fuel capacity',
    '75 liter'),
    ('Anchor compartment',
    '1'),
    ('Storage compartments',
    '3'),
    ('Glove compartment',
    '1'),
    ('<h6>Speed test results</h6>' | safe,
    '&nbsp;' | safe),
    ('Motor model',
    'Suzuki DF90'),
    ('Speed (2 pers.)',
    '38,0 knots'),
    ('Motor model',
    'Suzuki DF115'),
    ('Speed (2 pers.)',
    '43,0 knots'),
] %}

{% block smallprint %}
  We reserve the right to change the specification without notice. Actual performance may vary individually in relation to the specified test values
{% endblock %}

{% block cta %}
{% import 'macros.html' as macros %}
{{ macros.product_cta_en() }}
{% endblock %}
