html {
  font-family: "Lato", Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-weight: 200;
  color: #293b47;
  font-size: 16px;
  line-height: 24px;
}
a {
  color: #00f;
}
a:hover {
  color: #0000e6;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dt,
pre,
code {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #293b47;
}
h1 {
  font-size: 44.800000000000004px;
  line-height: 48px;
  margin-bottom: 16px;
}
h2 {
  font-size: 40px;
  line-height: 44.800000000000004px;
  margin-bottom: 12.8px;
}
h3 {
  font-size: 35.2px;
  line-height: 41.6px;
  margin-bottom: 9.600000000000001px;
}
h4 {
  font-size: 32px;
  line-height: 38.400000000000006px;
  margin-bottom: 6.4px;
}
h5 {
  font-size: 25.6px;
  line-height: 35.2px;
  margin-bottom: 3.2px;
}
h6 {
  font-size: 20.8px;
  line-height: 32px;
  margin-bottom: 0px;
}
p,
ul,
ol,
pre,
dl {
  margin-bottom: 16px;
}
ul,
ol {
  padding-left: 1.4em;
}
li,
dd {
  margin-bottom: 8px;
}
pre {
  font-size: 12.8px;
}
header p {
  color: #aaa;
}
header h1 ~ p {
  margin-top: -8px;
}
header h2 ~ p {
  margin-top: -6.4px;
}
header h3 ~ p {
  margin-top: -4.800000000000001px;
}
header h4 ~ p {
  margin-top: -3.2px;
}
header h5 ~ p {
  margin-top: -1.6px;
}
header h6 ~ p {
  margin-top: -1.6px;
}
code {
  padding: 3px 4px;
  color: #293b47;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  font-family: Menlo, Monaco, monospace;
}
pre {
  display: block;
  padding: 7px;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco, monospace;
  line-height: 160%;
}
pre code {
  border: 0;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
}
.topbar {
  display: block;
  min-height: 8px;
  background: #293b47;
}
header {
  background: #f7f7f7;
}
.main {
  background: #f7f7f7;
}
footer {
  background: #293b47;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
body {
  font-size: 16px;
  background-color: #f7f7f7;
}
body a {
  color: #001528;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body a:hover {
  color: #222;
}
header {
  text-align: justify;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 8em;
  padding: 16px 10% 16px;
}
header h1 {
  font-size: 32px;
}
header a {
  text-decoration: none;
}
header > div,
header > div::before,
header div h1,
header nav {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
header > div {
  width: 50%;
  height: 100%;
  text-align: left;
}
header > div::before {
  content: '';
  height: 100%;
}
header ul {
  list-style-type: none;
}
header .brand {
  font-family: Gunship, Impact, 'Helvetica Neue', sans-serif;
  letter-spacing: 5px;
}
header nav a {
  line-height: 1.5;
  padding: 4.800000000000001px 8px;
  margin-top: 24px;
  text-decoration: none;
  white-space: nowrap;
}
header nav a:hover {
  color: #f7f7f7;
  background-color: #293b47;
}
header .active {
  color: #f7f7f7;
  background-color: #293b47;
}
header::after {
  content: '';
  display: inline-block;
  width: 100%;
}
.menu {
  text-align: center;
}
.menu__title {
  display: block;
  text-transform: uppercase;
}
.menu__subtitle {
  display: block;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 5em;
}
.menu__section,
.product {
  position: relative;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center top;
  margin-bottom: 64px;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.menu__section:before,
.product:before,
.menu__section:after,
.product:after {
  content: '';
  display: table;
}
.menu__section:after,
.product:after {
  clear: both;
}
.menu__section:last-child,
.product:last-child {
  margin-right: 0%;
}
.menu__section img,
.product img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  opacity: 1;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
}
.menu__section:hover img,
.product:hover img {
  opacity: 1;
}
.menu__section .product__description,
.product .product__description,
.menu__section .menu__section__description,
.product .menu__section__description {
  text-align: center;
  -webkit-box-shadow: 0px 3px 25px rgba(255,255,255,0.9);
  -moz-box-shadow: 0px 3px 25px rgba(255,255,255,0.9);
  box-shadow: 0px 3px 25px rgba(255,255,255,0.9);
  border-top: 1px solid #fff;
  background-color: #ebebeb;
  width: 100%;
  z-index: 2;
}
.menu__section .product__description .inner,
.product .product__description .inner,
.menu__section .menu__section__description .inner,
.product .menu__section__description .inner {
  min-height: 96px;
  padding: 32px 40px;
}
.menu__section a,
.product a {
  text-decoration: none;
  color: #001528;
}
.main {
  display: block;
  padding: 32px 10% 64px;
}
.cta {
  padding: 64px 10%;
}
.scroll-nav__section {
  padding-top: 32px;
}
.scroll-nav__section h2 {
  padding: 32px 0 16px;
}
.cta__description {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 33.3333333333333%;
  margin-left: 0%;
  margin-right: 0%;
}
.cta__description:before,
.cta__description:after {
  content: '';
  display: table;
}
.cta__description:after {
  clear: both;
}
.cta__form {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 66.6666666666667%;
  margin-left: 0%;
  margin-right: 0%;
}
.cta__form:before,
.cta__form:after {
  content: '';
  display: table;
}
.cta__form:after {
  clear: both;
}
.cta__note {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.cta__note:before,
.cta__note:after {
  content: '';
  display: table;
}
.cta__note:after {
  clear: both;
}
.products,
.menu,
.main,
.cta,
.scroll-nav__section,
.contact__form {
  *zoom: 1;
}
.products:before,
.menu:before,
.main:before,
.cta:before,
.scroll-nav__section:before,
.contact__form:before,
.products:after,
.menu:after,
.main:after,
.cta:after,
.scroll-nav__section:after,
.contact__form:after {
  content: '';
  display: table;
}
.products:after,
.menu:after,
.main:after,
.cta:after,
.scroll-nav__section:after,
.contact__form:after {
  clear: both;
}
blockquote {
  margin: 0 0 1.11111rem;
  padding: 0.5rem 1.11111rem 0 1.05556rem;
  border-left: 1px solid #ddd;
  line-height: 1.6;
}
blockquote cite {
  display: block;
}
blockquote cite::before {
  content: "\2014 \0020";
}
.boatline {
  font-family: "Amatic SC", cursive;
  text-align: center;
  display: block;
  padding: 1em 0 0.5em;
  background: #293b47;
  color: #f7f7f7;
  margin: 0;
}
footer {
  color: #f7f7f7;
  display: block;
  min-height: 12em;
  height: 100%;
  *zoom: 1;
}
footer:before,
footer:after {
  content: '';
  display: table;
}
footer:after {
  clear: both;
}
footer section {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
footer section:before,
footer section:after {
  content: '';
  display: table;
}
footer section:after {
  clear: both;
}
footer section:last-child {
  margin-right: 0%;
}
footer section ul {
  list-style-type: none;
}
footer a {
  color: #f7f7f7;
  text-decoration: none;
}
footer li.list__title {
  font-weight: 700;
  font-style: italic;
}
footer li.fa {
  display: inline-block;
  font-size: 1.5em;
}
.post__article section {
  padding-right: 5%;
}
.post__article img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.gallery img {
  display: inline-block;
}
.half,
.equipment ul,
.specification ol {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.half:before,
.equipment ul:before,
.specification ol:before,
.half:after,
.equipment ul:after,
.specification ol:after {
  content: '';
  display: table;
}
.half:after,
.equipment ul:after,
.specification ol:after {
  clear: both;
}
.specification ol {
  margin-top: 32px;
}
.specification hr {
  clear: both;
}
.contact .contact__list {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 64px;
}
.contact .contact__list:before,
.contact .contact__list:after {
  content: '';
  display: table;
}
.contact .contact__list:after {
  clear: both;
}
.contact li {
  list-style-type: none;
}
.contact .contact__form {
  padding-top: 16px;
}
.contact .contact__form .subtitle {
  display: block;
  margin-bottom: 16px;
}
.smallprint {
  font-size: 12.8px;
  color: #666;
}
.scroll-nav {
  position: absolute;
}
.scroll-nav .scroll-nav__item {
  line-height: 1.5;
  color: #293b47;
}
.scroll-nav .active {
  font-weight: bold;
}
.scroll-nav .scroll-nav__link {
  color: #293b47;
  text-decoration: none;
}
.scroll-nav__list {
  padding: 0;
}
.scroll-nav.fixed {
  position: fixed;
  top: 2em;
}
.scroll-nav__item::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  position: absolute;
  pointer-events: none;
  text-align: center;
  width: 40px;
}
.scroll-nav__item.active::before {
  font-weight: bold;
}
.scroll-nav__item.gallerie::before,
.scroll-nav__item.gallery::before {
  content: "\f03e\00a0";
}
.scroll-nav__item.beskrivelse::before,
.scroll-nav__item.description::before {
  content: "\f02d\00a0";
}
.scroll-nav__item.utstyr::before,
.scroll-nav__item.equipment::before {
  content: "\f0f2\00a0";
}
.scroll-nav__item.spesifikasjon::before,
.scroll-nav__item.specification::before {
  content: "\f03a\00a0";
}
.scroll-nav__item.anmeldelser::before,
.scroll-nav__item.reviews::before {
  content: "\f087\00a0";
}
article table {
  width: 100%;
}
tbody tr:nth-child(odd) {
  background-color: #ebebeb;
}
@media screen and (max-width: 64em) {
  .main {
    padding: 0 5% 32px;
  }
  header {
    height: auto;
  }
  header > div,
  header > div h1,
  header nav {
    height: auto;
    width: auto;
    display: block;
    text-align: center;
  }
  .product,
  .menu__section,
  .cta__description,
  .cta__form,
  .contact__entry {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product:first-child,
  .menu__section:first-child,
  .cta__description:first-child,
  .cta__form:first-child,
  .contact__entry:first-child {
    margin-left: auto;
  }
  .product:last-child,
  .menu__section:last-child,
  .cta__description:last-child,
  .cta__form:last-child,
  .contact__entry:last-child {
    margin-right: auto;
  }
  .contact__entry {
    padding-top: 32px;
  }
  blockquote {
    padding: 20px 20px;
  }
  footer {
    padding: 32px 5%;
  }
  footer section {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
  footer section:first-child {
    margin-left: auto;
  }
  footer section:last-child {
    margin-right: auto;
  }
  .scroll-nav {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%;
    margin-left: -10px;
  }
  .scroll-nav:before,
  .scroll-nav:after {
    content: '';
    display: table;
  }
  .scroll-nav:after {
    clear: both;
  }
  .post__article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 80%;
    margin-left: 20%;
    margin-right: 0%;
  }
  .post__article:before,
  .post__article:after {
    content: '';
    display: table;
  }
  .post__article:after {
    clear: both;
  }
  .scroll-nav__item {
    font-size: 40px;
    line-height: 1.5em;
    margin: 0 auto;
    overflow: hidden;
    width: 40px;
  }
  .scroll-nav__link {
    display: block;
    margin: 0 auto;
    padding-left: 45px;
  }
  .equipment ul,
  .specification ol {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .equipment ul:first-child,
  .specification ol:first-child {
    margin-left: auto;
  }
  .equipment ul:last-child,
  .specification ol:last-child {
    margin-right: auto;
  }
  .equipment ul {
    margin-left: 1em;
  }
  .specification ol,
  .specification ol:first-child {
    margin-left: 2em;
  }
  .section__top p,
  .section__left p,
  .section__right p {
    text-align: justify;
  }
}
@media screen and (min-width: 64em) {
  .main {
    padding: 32px 10% 64px;
  }
  footer {
    padding: 80px 5% 32px;
  }
  .scroll-nav {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .scroll-nav:before,
  .scroll-nav:after {
    content: '';
    display: table;
  }
  .scroll-nav:after {
    clear: both;
  }
  .post__article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 80%;
    margin-left: 20%;
    margin-right: 0%;
  }
  .post__article:before,
  .post__article:after {
    content: '';
    display: table;
  }
  .post__article:after {
    clear: both;
  }
  .scroll-nav__item {
    font-size: 19.200000000000003px;
  }
  .scroll-nav__link {
    padding-left: 35px;
  }
  .scroll-nav__wrapper {
    margin: 0 0 0 5%;
  }
  article .columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 1%;
/* Saf3, Chrome*/
    -moz-column-count: 3;
    -moz-column-gap: 1%;
/* FF3.5+ */
    column-count: 3;
    column-gap: 1%;
/* Opera 11+*/
  }
  .review blockquote {
    margin: 0 10%;
  }
  .contact__entry {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 33.3333333333333%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .contact__entry:before,
  .contact__entry:after {
    content: '';
    display: table;
  }
  .contact__entry:after {
    clear: both;
  }
}
@media screen and (min-width: 120em) {
  .scroll-nav__item {
    font-size: 22.400000000000002px;
  }
}
@media screen and (min-width: 125em) {
  .main {
    min-height: 50em;
  }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: #fff;
  font-family: inherit;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.75);
  display: block;
  margin: 0 0 0.88889rem 0;
  padding: 0.44444rem;
  height: 2.05556rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s border-color 0.45s ease-in-out;
}
textarea {
  height: 10rem;
}
button,
.button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.11111rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 0.88889rem;
  padding-right: 1.77778rem;
  padding-bottom: 0.94444rem;
  padding-left: 1.77778rem;
  font-size: 0.88889rem;
  background-color: #293b47;
  border-color: #001528;
  color: #f7f7f7;
  transition: background-color 300ms ease-out;
}
button:hover,
.button:hover {
  background-color: #001528;
}
.translate {
  color: #800000 !important;
}
