* {
  background: #eee;
  background: rgba(0,0,0,0.05);
}
header {
  text-align: justify;
  letter-spacing: 1px;
  height: 8em;
  padding: 2em 5%;
}
header h1,
header nav,
header nav li {
  display: linline-block;
}
header ul {
  list-style-type: none;
}
header::after {
  content: '';
  display: linline-block;
  width: 100%;
}
@font-face {
  font-family: 'Gunship';
  src: url("/fonts/Gunship.ttf.woff") format('woff'), url("/fonts/Gunship.ttf.svg#Gunship") format('svg'), url("/fonts/Gunship.ttf.eot"), url("/fonts/Gunship.eot?#iefix") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
h1.brand {
  font-family: Gunship, Impact, 'Helvetica Neue', sans-serif;
  color: #0d4171;
  text-transform: uppercase;
  letter-spacing: 5px;
}
