{% extends("base.html") %}

{% set page_title = _("404 - Page Not Found | Navette") %}
{% set meta_description = _("Sorry, but the page you were trying to view does not exist.") %}

{% block main %}

<div class="404 container">

  <h1>{{ _("Not found") }} <span>:(</span></h1>
  <p>{{ _("Sorry, but the page you were trying to view does not exist.") }}</p>
  <p>{{ _("It looks like this was the result of either:") }}</p>
  <ul>
    <li>{{ _("a mistyped address") }}</li>
    <li>{{ _("an out-of-date or incorrect link") }}</li>
    <li>{{ _("technical problems on our side") }}</li>
  </ul>

  <p>{{ _("If you think this is our fault, please contact us at info@navette.no for help and let us know.") }}</p>

  <hr />

  <script type="text/javascript">
    var GOOG_FIXURL_LANG = '{{ locale if locale else 'en' }}';
    var GOOG_FIXURL_SITE = location.host;
  </script>
  <script type="text/javascript"
    src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
  </script>
  <script type="text/javascript">
    _gaq.push(["_trackEvent", "SEO", "404 Error", document.location]);
  </script>



</div>

{% endblock %}
