{% extends('base.html') %}
{% block main %}

<div class="about space-wrapper">

  <div class="about__section">
    <h2>Who We Are & What We Do</h2>
    <div class="about__text half">


      We are a Norwegian


      Vi gjør alt fra konstruksjon og design til formbygging og produksjon.

      We do everything from engineering and design to mould making and production.

      We have produced a wide variety of composite products for marine and automotive industry as well as individuals - from boats and car body parts to swimming pools and fiberglass boxes.

      <a href="">Contact </a>

    </div>
    <div class="about__img half">
    </div>

  </div>



  <div class="about__section">

    <h2>A Brief History of Navette</h2>

    <div class="timeline">

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>Founding the Company</h5>
          <p>Navette is founded in Norway. The company is born out of an idea to design and manufacture pleasure boats. Initially there are 3 founders, but later Rune Nilsen buys all shares.</p>
          <span class="timeline__date"> Year 2001 </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>Launch of S 565</h5>
          <p>After a year of hard work and effort, the first boat - <a href="/s565">Navette S 565</a> is launched into production.</p>
          <span class="timeline__date"> Year 2002 </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>Cutting Prices</h5>
          <p>Production is outsourced to a Latvian company with a goal to cut costs while maintaining the quality. This would result in lowered prices and therefore product being more available to the customer.</p>
          <span class="timeline__date"> Year 2003 </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>Ensuring the Quality</h5>
          <p>To ensure quality control Navette expands its operations to Latvia - estabilishing a production facility in Saldus. The facility is small but for now - satisfactory.</p>
          <span class="timeline__date"> Year 2003 </span>
        </div>
      </div>


      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>Launch of S 540</h5>
          <p>The second boat in the series - <a href="/s540">Navette S 540</a> is introduced to the market.</p>
          <span class="timeline__date"> Year 2005 </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>A Change of Mindset</h5>
          <p>Due to pleasure boat market being very unstable, a decision is made to also produce other products. At the same time Navette also expands to much larger and its own production facilities near Saldus.</p>
          <span class="timeline__date"> Year 2005 </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>Fiberglass boddies</h5>
          <p>Navette produces fiberglass bodies for a city electric car <a href="http://en.wikipedia.org/wiki/Buddy_(electric_car)" rel="nofollow">Buddy</a>, the sixth generation of the Kewet electric vehicle.</p>
          <span class="timeline__date"> Year 2007-2010 </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>Hard to top</h5>
          <p>In cooperation with Loyds Industri begins fiberglass hardtop production for Toyota Hilux. Not too long after, Navette designs and launches its own hardtop for VW Amarok.</p>
          <span class="timeline__date"> Year 2012 </span>
        </div>
      </div>

    </div> <!-- timeline -->
  </div>


</div>

{% endblock %}


