{% extends('base_en.html') %}
{% block main %}

<div class="about space-wrapper">

  <div class="about__section">
    <h2>Who We Are & What We Do</h2>
    <div class="about__img">
      <img src="http://lorempixel.com/1600/300" alt="">
    </div>
    <p class="column">
    </p>
  </div>



  <div class="about__section">
    <h2>A Brief History of Navette</h2>


 Navette was founded in 2001 in Norway.
 The first years we were 3 owners, but later Rune Nilsen bought all shares.
 The idea was to design and manufacture pleasure boats.
 The first boat was the S565 which was launched in 2002.
 Production was outcourced to a Latvian company in 2003.
 Because of quality problems we establiched a factory ourselves in Saldus.
 We produced the boats in a small rented building.
 In 2005 we introduced the S540.
 In 2005 we also set up our own building.
 Because the pleasure boat market is very unstable we desided to also produce other products.
 From 2007 until 2010 we produced GRP bodies for electric cars.
 In 2007 we expanded the building to 1300 m2.
 In 2012 the production of hardtops began.

 In addition production has been:
 MOB (Man Over Board) boats,
 Seats for lifecrafts,
 Deviders for vans
 Swimming pools
  </div>


</div>

{% endblock %}


