{% extends("base.html") %}
{% set active_page="about" %}
{% set page_title = _("About Navette") %}
{% set meta_description = _("Meta tag to be filled") %}

{% block main %}

<div class="about space-wrapper">

  <div class="about__section">
    <h2>{{ _("Who We Are") }}</h2>
    <span class="about__subtitle">&amp; {{ _("what we do") }}</span>

    <div class="about__text third">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/img/buddy_body_l.jpg" media="(min-width: 2500px)">
      <source srcset="/img/buddy_body_m.jpg" media="(min-width: 480px)">
      <source srcset="/img/buddy_body_s.jpg">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/img/buddy_body_s.jpg" alt="">
      </picture>
      <p>
     {{ _("We offer more than 12 years of experience in the composite industry. We have designed and produced a wide variety of composite solutions for maritime and automotive industries as well as for individuals - from house boats and auto bodywork to swimming pools and storage products.") }}
      </p>
    </div>

    <div class="about__text third">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/img/boat_sanding_l.jpg" media="(min-width: 2500px)">
      <source srcset="/img/boat_sanding_m.jpg" media="(min-width: 480px)">
      <source srcset="/img/boat_sanding_s.jpg">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/img/boat_sanding_s.jpg" alt="">
      </picture>
      <p>
      {{ _("We do everything from engineering and design to tooling and production as a part of both our own solutions and partnerships. Our production methods are mainly wet layup and resin infusion. High quality and attention to detail are our core values at every stage of the production process.") }}
      </p>
    </div>

    <div class="about__text third">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/img/navette_pleasure_boats_l.jpg" media="(min-width: 2500px)">
      <source srcset="/img/navette_pleasure_boats_m.jpg" media="(min-width: 480px)">
      <source srcset="/img/navette_pleasure_boats_s.jpg">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/img/navette_pleasure_boats_s.jpg" alt="">
      </picture>
      <p> {{ _("We truly believe that good design not only looks good, but more importantly, works well for the user. A lot of thought has been put into design of each one of our products, to make sure that they are both practical and easy to use.") }}</p>
    </div>
  </div>

  <div class="about__section">

    <h2>{{ _("A Brief History of Navette") }}</h2>
    <span class="about__subtitle">{{ _("or how it all came to be") }}</span>

    <div class="timeline">


      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ _("Foundation of the Company") }}</h5>
          <p>
            {{ _("Navette is founded in Norway. The company is born out of an idea to design and manufacture pleasure boats. Initially there are 3 founders, but later Rune Nilsen buys all shares.") }}
          </p>
          <span class="timeline__date"> {{ _("Year 2001") }} </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ _("Launch of Navette S 565") }}</h5>
          <p>
            {{ _("After a year of hard work and effort, the first fiberglass boat - <a href='/s565'>Navette S 565</a> is launched into production.") | safe }}
          </p>
          <span class="timeline__date"> {{ _("Year 2002") }} </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ _("Availability") }}</h5>
          <p>
            {{ _("Production is outsourced to a Latvian company with a goal to cut costs while maintaining the quality. This step results in lower prices and product being more available to the customer.") }}
          </p>
          <span class="timeline__date"> {{ _("Year 2003") }} </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ _("Quality Assurance") }}</h5>
          <p>
            {{ _("To ensure quality control, Navette expands its operations to Latvia, estabilishing a production facility in Saldus. The facility is small but for now - satisfactory.") }}
          </p>
          <span class="timeline__date"> {{ _("Year 2003") }} </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ _("Launch of S 540") }}</h5>
          <p>
            {{ _("The second fiberglass boat in the series - <a href='/s540'>Navette S 540</a> is introduced to the market.") | safe }}
          </p>
          <span class="timeline__date"> {{ _("Year 2003") }} </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ _("A Change of Mindset") }}</h5>
          <p>
            {{ _(" Due to pleasure boat market being very unstable, a decision is made to also produce other products. At the same time Navette expands to much larger, now its own production facilities near Saldus.  ") }}
          </p>
          <span class="timeline__date"> {{ _("Year 2005") }} </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ _("Going automotive") }}</h5>
          <p>
            {{ _("In cooperation with Ebil Norge, Navette produces fiberglass bodies for a city electric car <a href='http://en.wikipedia.org/wiki/Buddy_(electric_car)' rel='nofollow'>Buddy</a>, the sixth generation of the Kewet electric vehicle.") | safe }}
          </p>
          <span class="timeline__date"> {{ _("Year 2007-2010") }} </span>
        </div>
      </div>

      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ _("Hard to top") }}</h5>
          <p>
            {{ _("In cooperation with Loyds Industri, begins fiberglass hardtop production for Toyota Hilux. Navette also designs and adds a hardtop for VW Amarok to its product line.") }}
          </p>
          <span class="timeline__date"> {{ _("Year 2012") }} </span>
        </div>
      </div>

    </div> <!-- timeline -->
  </div>

</div>

{% endblock %}


