{% extends('base.html') %}
{% set active_page="about" %}
{% set page_title = 'About Navette' %}
{% set meta_description = '' %}

{% block main %}

<div class="about space-wrapper">

  <div class="about__section">
    <h2>Who we are</h2>
    <span class="about__subtitle">&amp; what we do</span>

    <div class="about__text third">
      <img class="" src="/img/exp.jpg" alt="About" />
      <p>
     {{ _("We offer more than 12 years of experience in composite industry. We have designed and produced a wide variety of composite solutions for maritime and automotive industries as well as individuals - from house boats and auto bodywork to swimming pools and storage products.") }}
      </p>
    </div>

    <div class="about__text third">
      <img class="" src="/img/production.jpg" alt="About" />
      <p>
      We do everything from engineering and design to tooling and production as a part of both our own solutions and partnerships. Our production methods are mainly wet layup and resin infusion. High quality and attention to detail are our core values at every stage of the production process.
      </p>
    </div>

    <div class="about__text third">
      <img class="" src="/img/products.jpg" alt="About" />
      <p>
      We truly believe that good design not only looks good, but more importantly, works well for the user. A lot of thought has been put into design of each one of our products, to make sure that they are both practical and easy to use.
      </p>
    </div>
  </div>

  <div class="about__section">

    <h2>{{ _("A brief history of Navette") }}</h2>
    <span class="about__subtitle">{{ _("or how it all came to be") }}</span>

    <div class="timeline">

      {% set timeline = [('Foundation of the Company',
      'Navette is founded in Norway. The company is born out of an idea to design and manufacture pleasure boats. Initially there are 3 founders, but later Rune Nilsen buys all shares.',
      'Year 2001'),
      ('Launch of Navette S 565',
      'After a year of hard work and effort, the first fiberglass boat - <a href="/s565">Navette S 565</a> is launched into production.' | safe,
      'Year 2002'),
      ('Availability',
      ' Production is outsourced to a Latvian company with a goal to cut costs while maintaining the quality. This step results in lower prices and product being more available to the customer.  ',
      'Year 2003'),
      ('Quality Assurance',
      ' To ensure quality control, Navette expands its operations to Latvia, estabilishing a production facility in Saldus. The facility is small but for now - satisfactory.  ',
      'Year 2003'),
      ('Launch of S 540',
      'The second fiberglass boat in the series - <a href="/s540">Navette S 540</a> is introduced to the market.' | safe,
      'Year 2003'),
      ('A Change of Mindset',
      ' Due to pleasure boat market being very unstable, a decision is made to also produce other products. At the same time Navette expands to much larger, now its own production facilities near Saldus.  ',
      'Year 2005'),
      ('Going automotive',
      'In cooperation with Ebil Norge, Navette produces fiberglass bodies for a city electric car <a href="http://en.wikipedia.org/wiki/Buddy_(electric_car)" rel="nofollow">Buddy</a>, the sixth generation of the Kewet electric vehicle.' | safe,
      'Year 2007-2010'),
      ('Hard to top',
      ' In cooperation with Loyds Industri, begins fiberglass hardtop production for Toyota Hilux. Navette also designs and adds a hardtop for VW Amarok to its product line.',
      'Year 2012')]
      %}

    {% for timepoint, description, date in timeline %}
      <div class="timeline__wrapper">
        <div class="timeline__img">
        </div>
        <div class="timeline__content">
          <h5>{{ timepoint }}</h5>
          <p>
            {{ description }}
          </p>
          <span class="timeline__date"> {{ date }} </span>
        </div>
      </div>
    {% endfor %}

    </div> <!-- timeline -->
  </div>

</div>

{% endblock %}


