{% extends 'base.html' %}
{% set active_page="auto" %}
{% block main %}

<div class="page__wrapper">
<article class="post__article">

<div class="post__header">
  <h1 class="post__heading">VW Amarok Hardtop</h1>
  <picture>
  <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="/img/amarok/1_XL.jpg" media="(min-width: 2000px)">
    <source srcset="/img/amarok/1_L.jpg" media="(min-width: 600px)">
    <source srcset="/img/amarok/1_M.jpg" media="(min-width: 400px)">
    <source srcset="/img/amarok/1_S.jpg">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/img/amarok/1_S.jpg" alt="Automotive">
  </picture>
</div>

  <div class="gallery">
    <a class="gallery__img th" href="/img/amarok/1_XL.jpg"><img src="/img/amarok/th/1.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/amarok/2.jpg"><img src="/img/amarok/th/2.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/amarok/3.jpg"><img src="/img/amarok/th/3.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/amarok/4.jpg"><img src="/img/amarok/th/4.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/amarok/5.jpg"><img src="/img/amarok/th/5.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/amarok/6.jpg"><img src="/img/amarok/th/6.jpg" alt=""></a>
  </div>

<div class="description">
  <div class="half-col">
    <p>
    We have designed a durable and lightweight VW Amarok hardtop which uses the exact design elements from the car. The hardtop is made to be flush with the car, giving it a continous appearance and two-box form of a station wagon. Roofshape of the hardtop is styled the same way as car's. It is also the same width as the car itself. Bottom of the hardtop follows the A-line from headlight to taillight, tracing the car's silhouette. The shape of the side panels adds nicely to the look of the whole car. When driving, the hardtop itself makes no extra wind noise. Integrated spoiler can optionally be equipped with a high level brake light.
    </p>
  </div>
  <div class="half-col">
    <p>
    Navette hardtops are constructed using multi-layered laminated glass fiber mats. The UV-resistant surface is made of durable, very robust Gelcoat. The paint is color coded to the VW Amarok paint codes. The painting process uses the most modern knowledge of surface treatment and confirms to the latest European regulations.
    </p>
  </div>
</div>

<div class="equipment">
  <h2>Features</h2>

<ul>
<h5>Standard features</h5>
  <li>Inside sprayed with durable PVC</li>
  <li>Integrated spoler</li>
  <li>Ready for Thule roof bars</li>
  <li>Solid sides</li>
  <li>Solid rear hatch with gas struts</li>
  <li>Complete fitting instructions</li>
</ul>

<ul>
<h5>Extra features</h5>
  <li>Tinted side windows</li>
  <li>LED interior lighting</li>
  <li>Rear breaklight</li>
  <li>Central locking on rear hatch. <span class="smallprint">(Only for cars with central locking on fuel hatch.)</span></li>
  <li>Roof bars from Thule</li>
</ul>

</div>

<div class="specification">

  <h2>Specification</h2>

<table>
  <tbody>
  <tr>
    <td>Width mm</td>
    <td>1760</td>
  </tr>
  <tr>
    <td>Length mm</td>
    <td>1590</td>
  </tr>
  <tr>
    <td>Height mm</td>
    <td>640</td>
  </tr>
  <tr>
    <td>Loading height mm</td>
    <td>1040</td>
  </tr>
  <tr>
    <td>Loading width mm</td>
    <td>1350</td>
  </tr>
  <tr>
    <td>Weight kg</td>
    <td>60 kg</td>
  </tr>
  <tr>
    <td>Maximum roof load kg</td>
    <td>50 kg</td>
  </tr>
  <tr>
    <td>Width of the side hatch mm</td>
    <td>1200 - 1000</td>
  </tr>
  <tr>
    <td>Height of the side hatch mm</td>
    <td>760 - 720</td>
  </tr>
  <tr>
    <td>Max box size through aft hatch mm</td>
    <td>1300 x 1050 x 920</td>
  </tr>
  <tr>
    <td>Max box size inside compartment mm</td>
    <td>1300 x 1200 x 1040</td>
  </tr>
  </tbody>
</table>
</div>

</article>
</div>

{% import 'macros.html' as macros %}
{{ macros.product_cta_en() }}

{% endblock %}
