{% extends('base.html') %}
{% set active_page="auto" %}
{% block main %}

            <section class="products">
              <figure class="product">
                <a href="/hilux">
                <img src="/img/hilux.jpg" alt="Hardtop til Toyota Hilux" />
                <div class="product__description">
                  <div class="inner">
                    <h2>Hardtop til Toyota Hilux</h2>
                    <p>Denne hardtop får vi kjøpe bare i Norge</p>
                  </div>
                </div>
                </a>
              </figure>

              <figure class="product">
                <a href="/amarok">
                <img src="/img/amarok.jpg" alt="Hardtop til VW Amarok" />
                <div class="product__description">
                  <div class="inner">
                    <h2>Hardtop til VW Amarok </h2>
                    <span class="translate">A light and durable hardtop</span>
                  </div>
                </div>
                </a>
              </figure>
            </section>

{% endblock %}


