{% extends('base_en.html') %}
{% block main %}

            <section class="products">
              <figure class="product">
                <a href="/hilux">
                <img src="/img/hilux.jpg" alt="Toyota Hilux Hardtop" />
                <div class="description">
                  <h2>Hardtop for Toyota Hilux</h2>
                  <p>A subtitle taken from description</p>
                </div>
                </a>
              </figure>

              <figure class="product">
                <a href="/amarok">
                <img src="/img/amarok.jpg" alt="VW Amarok Hardtop" />
                <div class="description">
                  <h2>Hardtop for VW Amarok </h2>
                  <p>A subtitle taken from description</p>
                </div>
                </a>
              </figure>
            </section>
{% endblock %}


