{% extends('base.html') %}
{% set active_page="automotive" %}

{% set page_title = _("Navette Automotive") %}
{% set meta_description = _("Navette composite solutions for automotive industry. Fiberglass hardtops and more. Need a custom project done? Let us know.") %}
{% block main %}

<section class="grid products">

  <figure class="product effect-bubba">
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="http://www.mustang-trailers.dk/Images/74f637c4-f285-40b2-a5ca-4fcb3acf0ea6.jpg" media="(min-width: 600px)">
      <source srcset="http://www.mustang-trailers.dk/Images/74f637c4-f285-40b2-a5ca-4fcb3acf0ea6.jpg" media="(min-width: 400px)">
      <source srcset="http://www.mustang-trailers.dk/Images/74f637c4-f285-40b2-a5ca-4fcb3acf0ea6.jpg">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="http://www.mustang-trailers.dk/Images/74f637c4-f285-40b2-a5ca-4fcb3acf0ea6.jpg" alt="Toyota Hilux Hardtop">
    </picture>
    <figcaption class="product__description">
      <h2>{{ _("Monarch Trailer") }}</h2>
      <p>{{ _("In collaboration with Mustang Trailers") }}</p>
    </figcaption>
    <a href="{{ '/' + locale if locale else '' }}/monarch">
      {{ _("View category") }}
    </a>
  </figure>

  <figure class="product effect-bubba">
    <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/img/amarok/amarok_hardtop_featured_xl.jpg" media="(min-width: 2000px)">
      <source srcset="/img/amarok/amarok_hardtop_featured_l.jpg" media="(min-width: 600px)">
      <source srcset="/img/amarok/amarok_hardtop_featured_m.jpg" media="(min-width: 400px)">
      <source srcset="/img/amarok/amarok_hardtop_featured_s.jpg">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/img/amarok/amarok_hardtop_featured_s.jpg" alt="VW Amarok Hardtop">
    </picture>
    <figcaption class="product__description">
      <h2>{{ _("VW Amarok Hardtop") }}</h2>
      <p>{{ _("Lightweight and durable") }}</p>
    </figcaption>
    <a href="{{ '/' + locale if locale else '' }}/amarok">
      {{ _("View category") }}
    </a>
  </figure>

  <figure class="product effect-bubba">
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="/img/hilux/hilux_hardtop_featured_l.jpg" media="(min-width: 600px)">
      <source srcset="/img/hilux/hilux_hardtop_featured_m.jpg" media="(min-width: 400px)">
      <source srcset="/img/hilux/hilux_hardtop_featured_s.jpg">
      <!--[if IE 9]></video><![endif]-->
      <img srcset="/img/hilux/hilux_hardtop_featured_s.jpg" alt="Toyota Hilux Hardtop">
    </picture>
    <figcaption class="product__description">
      <h2>{{ _("Toyota Hilux Hardtop") }}</h2>
      <p>{{ _("In collaboration with Loyds Industry") }}</p>
    </figcaption>
    <a href="{{ '/' + locale if locale else '' }}/hilux">
      {{ _("View category") }}
    </a>
  </figure>


</section>

{% endblock %}


