{% extends('base.html') %}
{% set active_page="auto" %}
{% set page_title = 'Composite solutions for automotive industry' %}
{% set meta_description = '' %}
{% block main %}

            <section class="products">

              <figure class="product">
                <a href="/amarok">
                <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="/img/amarok/1_XL.jpg" media="(min-width: 2000px)">
                  <source srcset="/img/amarok/1_L.jpg" media="(min-width: 600px)">
                  <source srcset="/img/amarok/1_M.jpg" media="(min-width: 400px)">
                  <source srcset="/img/amarok/1_S.jpg">
                  <!--[if IE 9]></video><![endif]-->
                  <img srcset="/img/amarok/1_S.jpg" alt="Automotive">
                </picture>
                <div class="product__description">
                  <div class="inner">
                    <h2>{{ Hardtop for VW Amarok }}</h2>
                    <p>
                      {{ Lighteight but durable }}
                    </p>
                  </div>
                </div>
                </a>
              </figure>

              <figure class="product">
                <a href="/hilux">
                <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="/img/hilux/1_L.jpg" media="(min-width: 600px)">
                  <source srcset="/img/hilux/1_M.jpg" media="(min-width: 400px)">
                  <source srcset="/img/hilux/1_S.jpg">
                  <!--[if IE 9]></video><![endif]-->
                  <img srcset="/img/hilux/1_S.jpg" alt="Automotive">
                </picture>
                <div class="product__description">
                  <div class="inner">
                    <h2>{{ Hardtop for Toyota Hilux }}</h2>
                    <p>{{ Exclusive hardtop for sale only in Norway }}</p>
                  </div>
                </div>
                </a>
              </figure>

            </section>

{% endblock %}


