{% extends('base_en.html') %}
{% set active_page="auto" %}
{% block main %}

            <section class="products">
              <figure class="product">
                <a href="/hilux">
                <img src="/img/hilux.jpg" alt="Toyota Hilux Hardtop" />
                <div class="product__description">
                  <div class="inner">
                    <h2>Hardtop for Toyota Hilux</h2>
                    <p>For sale exclusively in Norway</p>
                  </div>
                </div>
                </a>
              </figure>

              <figure class="product">
                <a href="/amarok">
                <img src="/img/amarok.jpg" alt="VW Amarok Hardtop" />
                <div class="product__description">
                  <div class="inner">
                    <h2>Hardtop for VW Amarok </h2>
                    <p>Also available with side hatches or windows</p>
                  </div>
                </div>
                </a>
              </figure>
            </section>
{% endblock %}


