<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css css/styles.min.css -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/html5bp.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="http://fonts.googleapis.com/css?family=Asmatic+SC:700|Oswald:700|Lato:400,700italic" rel="stylesheet" type="text/css" />
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
        <!-- endbower -->
        <!-- endbuild -->
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script>
          // Picture element HTML5 shiv
          document.createElement( "picture" );
        </script>
        <script src="/bower_components/picturefill/dist/picturefill.js" async></script>
    </head>
    <body class="page">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
          <header>
            <div>
              <a href="/"><h1 class="brand"><span class="fa brand__logo"></span>Navette</h1></a>
            </div>

            {% set navigation_bar = [
                ('/auto', 'auto', 'Automotive'),
                ('/boats', 'watercraft', 'Watercraft'),
                ('/about', 'about', 'About'),
                ('/contact', 'contact', 'Contact')
            ] -%}
            {% set active_page = active_page|default('index') -%}
            <nav>
              {% for href, id, caption in navigation_bar %}
                <a {% if id == active_page %} class="active"{% endif
                %} href="{{ href|e }}">{{ caption|e }}</a>
              {% endfor %}
            </nav>  
          </header>

          <div class="main">
          {{ request }}
          {% block main%}
          {% endblock %}
          </div>


          {% if active_page=="boats" %}
          <div class="cta">

            <div class="cta__description">
              <h1>Request a quote</h2>
              <span>Interested in pricing? Let us know, please! </span>
            </div>

            <div class="cta__form">
              <form action="" method="post">
                <label for="email">Your email?
                  <input type="email" name="email" id="email" placeholder="Your e-mail address" />
                </label>

                <label for="email">Where are you located? 
                  <input type="text" name="country" id="country" placeholder="Country" />
                </label>

                <label for="msg">Which product?
                  <textarea name="msg" id=msg rows="8" cols="40" placeholder="What interests you?"></textarea>
                </label>

                <input type="submit" name="submit" id="submit" value="Send" />
              </form>
            </div>

            <div class="cta__note">

            <hr />

            <p>Need a quote for a custom project? Have any questions about our products? Or just want to just say "Hi!"? Go to <a href="/contact">our contact page</a>.</p>
            </div>
            
          </div>
          {% endif %}

          <footer>

            <section>
              <ul>
                <li class="list__title">Contact</li>
                <li><hr /></li>
                <li>Navette AS</li>
                <li>Adresse: Kongensgate 5, 6002 Ålesund, Norway </li>
                <li>Telefon: +47 70 12 18 03</li>
                <li>Fax: +47 70 10 44 61</li>
                <li>E-post: post@navette.no</li>
              </ul>
            </section>

            <section>
              <ul>
                <li class="list__title">Navigation</li>
                <li><hr /></li>
                <li><a href="/auto">Automotive</a></li>
                <li><a href="/water">Watercraft</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
              </ul>
            </section>

            <section>
              <ul>
                <li class="list__title">Social</li>
                <li><hr /></li>
                <a href=""><li class="fa fa-twitter"></li><a>
                <a href=""><li class="fa fa-google-plus"></li></a>
                <a href=""><li class="fa fa-flickr"></li></a>
                <a href=""><li class="fa fa-facebook"></li></a>
                <li> &copy; <span class="brand">Navette</span> 2014 </li>
                <li><a href="/locale/en" rel="nofollow">English</a></li>
                <li><a href="/locale/no" rel="nofollow">Norsk</a></li>
              </ul>
            </section>

          </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- build:js js/scripts.min.js -->
        <!-- bower:js -->
        <script src="/bower_components/scrollNav/dist/jquery.scrollNav.js"></script>
        <!-- endbower -->
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
