<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page_title }}</title>
        <meta name="description" content="{{ meta_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css css/styles.min.css -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/html5bp.css">
        <link rel="stylesheet" href="/css/style.css">
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Asmatic+SC:700|Oswald:700|Lato:400,700italic" rel="stylesheet" type="text/css" />
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="/js/vendor/picturefill.min.js"></script>
    </head>
    <body class="page">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
          <div class="topbar">
          </div>
          <header>
            <div>
              <a href="{{ '/' + locale if locale else '' }}/"><h1 class="brand"></span>Navette</h1></a>
            </div>

            {% set navigation_bar = [
            ('/automotive', 'automotive', _('Automotive')),
            ('/boats', 'boats', _('Boats')),
            ('/about', 'about', _('About')),
            ('/contact', 'contact', _('Contact'))
            ] -%}

            {% set active_page = active_page|default('index') -%}
            <nav>
              {% for href, id, caption in navigation_bar %}
                <a {% if id == active_page %} class="active"{% endif
                %} href="{{ ('/' + locale if locale else '') +  href|e }}">{{ caption|e }}</a>
              {% endfor %}
            </nav>
          </header>

          <div class="main">

          {% block main%}
          {% endblock %}

          </div>

          <footer>

            <section>
              <ul>
                <li class="list__title">{{ _("Contact") }}</li>
                <li><hr /></li>
                <li>Navette AS</li>
                <li><a href="https://www.google.com/maps/place/Kongens+gate+5/@62.4731122,6.1559259,17z"><span class="fa fa-map-marker"></span> Kongensgate 5, 6002 Ålesund, Norway </a></li>
                <li><a href="tel:+4770121803"><span class="fa fa-phone"></span> +47 70 12 18 03</a></li>
                <li><a href="tel:+4790123205"><span class="fa fa-mobile"></span> +47 90 12 32 05</a></li>
                <li><a href="mailto:post@navette.no"><span class="fa fa-envelope-o"></span> post@navette.no</a></li>
              </ul>
            </section>

            <section>
              <ul>
                <li class="list__title">{{ _("Navigation") }}</li>
                <li><hr /></li>
                <li><a href="{{ '/' + locale if locale else '' }}/automotive">{{ _("Automotive") }}</a></li>
                <li><a href="{{ '/' + locale if locale else '' }}/boats">{{ _("Boats") }}</a></li>
                <li><a href="{{ '/' + locale if locale else '' }}/about">{{ _("About") }}</a></li>
                <li><a href="{{ '/' + locale if locale else '' }}/contact">{{ _("Contact") }}</a></li>
                <!-- <li><a href="{{ '/' + locale if locale else '' }}/sitemap">{{ _("Sitemap") }}</a></li> -->
              </ul>
            </section>

            <section>
              <ul>
                <li class="list__title">{{ _("Site") }}</li>
                <li><hr /></li>
                <li><a href="/locale/en" rel="nofollow">English</a></li>
                <li><a href="/locale/no" rel="nofollow">Norsk</a></li>
                <!-- <li><a href="/terms">Vilkår</a></li> -->
                <!-- <li><a href="/privacy">Privatslivspolitikk</a></li> -->
                <li> &copy; <span class="brand">Navette</span> 2014 </li>
              </ul>
            </section>
          </footer>

          <a href="#" class="cd-top">{{ _("Top") }}</a>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- build:js js/scripts.min.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->
        <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
