{% extends('base.html') %}
{% block main %}

            <section class="wrapper space-wrapper">

              <p>
              Båtene er konstruert for bruk langs kysten, i skjærgården og på innsjøer; og er spesielt tilpasset nordiske forhold.
              De er romslige nok til å frakte familie og utstyr, enten det er til hytta eller om du legger ut på en tur for å gjøre strandhugg i ditt nærområde. Fiskeutstyr og krabbeteiner kan praktisk plasseres og det er plass nok til å hale fangsten om bord. Båtene ligger stødig i sjøen og er lett manøvrerbare også i smule farvann.
              </p>

              <p>
              Det er i dag stadig flere som dyrker vannsportens gleder og utfordringer. Her gjelder det å ha en trygg båt med nok styrke og fart til å greie de utfordringer som sporten krever. Våre skjærgårsdjeeper har vist seg å mestre også dette. Både vannskisport og brettseiling er fritidsaktiviteter som krever god plass, i og utenfor båten. Den skal kunne manøvreres slik at vannskiløperen unngår kollisjon med andre båter, sjømerker og bøyer og ikke kommer inn på for grunt vann. Det setter store krav til hvilke forhold båtføreren og hjelpemann har om bord. Uts
              </p>

            </section>

            <section class="products">
              <figure class="product">
                <a href="/s565">
                <img src="/img/s565.jpg" alt="Navette S 565" />
                <div class="description">
                  <h2>S 565</h2>
                  <p>Rask og sikker skjærgårdsjeep med fantastiske sjøegenskaper</p>
                </div>
                </a>
              </figure>

              <figure class="product">
                <a href="/s540">
                <img src="/img/s540.jpg" alt="Navette S 540" />
                <div class="description">
                  <h2>S 540</h2>
                  <p>Meget rask skjærgårdsjeep som er myk i sjøen og ideell for sport og fritid</p>
                </div>
                </a>
              </figure>
            </section>

            <div class="boatline">
              <p>“Sval vind, salt sjø, gammle minner - og ny båt!”</p>
            </div>
{% endblock %}


