{% extends('base.html') %}
{%  set active_page="watercraft" %}
{% block main %}

            <section class="products">
              <figure class="product">
                <a href="/s565">
                <img src="/img/s565.jpg" alt="Navette S 565" />
                <div class="product__description">
                  <div class="inner">
                    <h2>S 565</h2>
                    <p>Rask og sikker skjærgårdsjeep med fantastiske sjøegenskaper</p>
                  </div>
                </div>
                </a>
              </figure>

              <figure class="product">
                <a href="/s540">
                <img src="/img/s540.jpg" alt="Navette S 540" />
                <div class="product__description">
                  <div class="inner">
                  <h2>S 540</h2>
                  <p>Meget rask skjærgårdsjeep som er myk i sjøen og ideell for sport og fritid</p>
                  </div>
                </div>
                </a>
              </figure>

            </section>

{% endblock %}


