{% extends('base.html') %}
{% set active_page="boats" %}

{% set page_title = _("Navette Boats") %}
{% set meta_description = "Practical multi-purpose boats with emphasis on ergonomics. Need a custom project done? Let us know." %}

{% block main %}

  <section class="grid products">
    <figure class="product effect-bubba">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/img/s565/navette_s565_featured_xl.jpg" media="(min-width: 2000px)">
        <source srcset="/img/s565/navette_s565_featured_l.jpg" media="(min-width: 600px)">
        <source srcset="/img/s565/navette_s565_featured_m.jpg" media="(min-width: 400px)">
        <source srcset="/img/s565/navette_s565_featured_s.jpg">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/img/s565/navette_s565_featured_s.jpg" alt="Automotive">
      </picture>
      <figcaption class="product__description">
        <h2>S 565</h2>
        <p>{{ _("Comfortable bowrider for the whole family") }}</p>
      </figcaption>
      <a href="{{ '/' + locale if locale else '' }}/s565">
        {{ _("View category") }}
      </a>
    </figure>

    <figure class="product effect-bubba">
      <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/img/s540/navette_s540_featured_xl.jpg" media="(min-width: 2000px)">
        <source srcset="/img/s540/navette_s540_featured_l.jpg" media="(min-width: 600px)">
        <source srcset="/img/s540/navette_s540_featured_m.jpg" media="(min-width: 400px)">
        <source srcset="/img/s540/navette_s540_featured_s.jpg">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/img/s540/navette_s540_featured_s.jpg" alt="Automotive">
      </picture>
      <figcaption class="product__description">
        <h2>S 540</h2>
        <p>{{ _("Excellent boat for sport and leisure") }}</p>
      </figcaption>
      <a href="{{ '/' + locale if locale else '' }}/s540">
        {{ _("View category") }}
      </a>
    </figure>
  </section>

{% endblock %}


