{% extends('base_en.html') %}
{% block main %}

            <section class="products">
              <figure class="product">
                <a href="/s565">
                <img src="/img/s565.jpg" alt="Navette S 565" />
                <div class="description">
                  <h2>S 565</h2>
                  <p>Fast and safe console boat with great ride characteristics</p>
                </div>
                </a>
              </figure>

              <figure class="product">
                <a href="/s540">
                <img src="/img/s540.jpg" alt="Navette S 540" />
                <div class="description">
                  <h2>S 540</h2>
                  <p>Very fast console boat with comfortable ride, ideal for both sports and leisure</p>
                </div>
                </a>
              </figure>
            </section>

{% endblock %}


