{% extends('base.html') %}
{% set active_page="contact" %}
{% block main %}
<div class="contact space-wrapper">

  <div class="contact__list">
    <div class="contact__entry">
      <div class="contact__details">
        <ul>
          <li><strong>Hovedkontor</strong></li>
          <li><hr /></li>
          <li>Navette AS</li>
          <a href="https://www.google.com/maps/place/Kongens+gate+5/@62.4731122,6.1559259,17z">
          <li><img src="http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=250x250&markers=62.4731122,6.1559259&sensor=false" alt=""></li>
          <li><span class="fa fa-map-marker"></span> Kongensgate 5, 6002 Ålesund, Norway</li>
          </a>
          <li><a href="tel:+4770121803"><span class="fa fa-phone"></span> +47 70 12 18 03</a></li>
          <li><span class="fa fa-fax"></span> +47 70 10 44 61</li>
          <li><a href="mailto:post@navette.no"><span class="fa fa-envelope-o"></span> post@navette.no</a></li>
        </ul>
      </div>
    </div>

    <div class="contact__entry">
      <div class="contact__details">
        <ul>
          <li><strong>Produksjon</strong></li>
          <li><hr /></li>
          <li>PLAST-TECH SIA</li>
          <a href="https://www.google.com/maps/place/56%C2%B041'22.6%22N+22%C2%B028'28.2%22E"/>
          <li><img src="http://maps.googleapis.com/maps/api/staticmap?zoom=11&size=250x250&markers=56.6896209,22.4744928&sensor=false" alt=""></li>
          <li><span class="fa fa-map-marker"></span> "Enkuri", Saldus nov., Kurzeme, Latvia, LV-3801</li>
          </a>
          <li><a href="tel:+37129368587"><span class="fa fa-mobile"></span> +371 29368587</a></li>
          <li><a href="mailto:edgars@plast-tech.lv"><span class="fa fa-envelope-o"></span> edgars@plast-tech.lv</a></li>
        </ul>
      </div>
    </div>

    <div class="contact__entry">
      <div class="contact__details">
        <ul>
          <li><strong>Administrerende direktør</strong></li>
          <li><hr /></li>
          <li>Rune Nilsen</li>
          <li><a href="tel:+4790123205"><span class="fa fa-mobile"></span> +47 90 12 32 05</a></li>
          <li><a href="mailto:rune@navette.no"><span class="fa fa-envelope-o"></span> rune@navette.no</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="contact__form">
    <h2>Kontakt oss</h2>
    <span class="subtitle">Send oss en melding og vi vil svare så godt vi kan.</span>

    <form method="post">
      <label for="email">Navn:</label>
      <input type="text" name="email" placeholder="Ditt navn" />

      <label for="email">Fra e-post:</label>
      <input type="text" name="email" placeholder="Din e-post" required/>

      <label for="msg">Melding:</label>
      <textarea name="msg" rows="8" cols="40" placeholder="Din melding" required></textarea>

      <input type="submit" name="submit" class="button" value="Send" />
    </form>
  </div>


</div>
{% endblock %}


