{% extends('base.html') %}
{% set active_page="automotive" %}

{% set page_title = _("Hardtop for Toyota Hilux") %}
{% set meta_description = _("a") %}

{% block main %}

<div class="page__wrapper">
<article class="post__article">

  <div class="post__header">
    <h1 class="post__heading">{{ _("Toyota Hilux SR5 Cargo Hardtop") }}</h1>
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/img/hilux/hilux_hardtop_featured_l.jpg" media="(min-width: 600px)">
        <source srcset="/img/hilux/hilux_hardtop_featured_m.jpg" media="(min-width: 400px)">
        <source srcset="/img/hilux/hilux_hardtop_featured_s.jpg">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/img/hilux/hilux_hardtop_featured_s.jpg" alt="Automotive">
      </picture>
  </div>

  <div class="gallery">
    <a class="gallery__img th" href="/img/hilux/hilux_hardtop_featured_l.jpg"><img src="/img/hilux/th/hilux_hardtop_featured_th.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/hilux/hilux_hardtop_front.jpg"><img src="/img/hilux/th/hilux_hardtop_front_th.jpg" alt=""></a>
  </div>

  <div class="description">
    <div class="half-col">
      <p>{{ _("We are proud to have been given an opportunity by Loyds Industri to take part in manufacturing of this exclusive hardtop. The hardtop is designed so that it can include a variety of alternative furnishings - double retractable floor, drawers for storage of tools and possibilities for shelving on one or both sides, all of which is provided by Loyds. Three lockable doors, one rear and one on each side. Both side and rear hatches are fitted with gas struts for easy access. Customized body makes the load compartment water and dust proof. Solid roof rails for exterior roof transportation. And much more.") }}</p>

    </div>
    <div class="half-col">
      <p>{{ _("Please note that Hilux Cargo is a special model developed by Toyota Norway, and is therefore only sold in this country. If you are located in Norway and already have a Hilux, this can of course be retrofitted on older cars. For more details please contact your Toyota dealer.") }}</p>
    </div>
  </div>


  <div class="specification">

    <h2>{{ _("Specification") }}</h2>

    <table>
      <tbody>
      <tr>
        <td>{{ _("Load compartment floor length") }}</td>
        <td>{{ _("1800 mm") }}</td>
      </tr>
      <tr>
        <td>{{ _("Load compartment floor width") }}</td>
        <td>{{ _("1470 mm") }}</td>
      </tr>
      <tr>
        <td>{{ _("Høyde bakke baklem") }}</td>
        <td>{{ _("800 mm") }}</td>
      </tr>
      <tr>
        <td>{{ _("Max length in load compartment") }}</td>
        <td>{{ _("2850 mm") }}</td>
      </tr>
      <tr>
        <td>{{ _("Side hatch opening size") }}</td>
        <td>{{ _("1400x400 mm") }}</td>
      </tr>
      <tr>
        <td>{{ _("Hardtop weight") }}</td>
        <td>{{ _("108 kg") }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</article>
</div>

{% endblock %}
