{% extends 'base.html' %}
{% set active_page="auto" %}
{% block main %}

<div class="page__wrapper">
<article class="post__article">

<div class="post__header">
  <h1 class="post__heading">Toyota Hilux Hardtop</h1>
</div>

<img src="http://placehold.it/800x490&text=Toyota+Hilux" alt="Hilux Hardtop" />

<div class="gallery">
  <h2>Gallerie</h2>
  <img src="http://placehold.it/250x250" alt="1" />
  <img src="http://placehold.it/250x250" alt="1" />
  <img src="http://placehold.it/250x250" alt="1" />
</div>

<div class="description">
  <h2>Description</h2>
We have designed a hardtop for the Amarok which uses the excact design elements from the car. This makes the car look more like a station wagon.(??)

Design elements
Bottomof hardtop followslightline in car.
Side panels in same shape as oncar
Integrated spoiler
Roofshape is the same as car
Rather straigt aft profile to undermine the purpose of the car.
Same width of hardtop as car
Side hatch opens with built ir handles


  Benefits (?)
The hardtop makes noextrawind-noise
Largervolume
Brings Larger volume
Side hatchlarger and lower
No extrakeys for sidehatches.

Navette hardtops are constructed using multi- layer laminated glass fiber mats. The UV-resistant surface is made of durable, very robust Gelcoat.
The painting process uses the most modern knowledge of surface treatment and the latest European regulations.
</div>

<div class="equipment">
  <h2>Equipment</h2>

<ul>
<h5>Standard equipment</h5>
  <li>Solid sides</li>
  <li>Afthatch double sidedwithoutwindow. Including gas springs.</li>
  <li>Inside sprayedwith durable PVC.</li>
  <li>Prepared for Thule roof bar</li>
</ul>

<ul>
<h5>Extra equipment</h5>
  <li>Central locking onafthatch. (Only for cars with central locking on fuel hatch.)</li>
  <li>Side hatches with opening from handle insideaft.  That means no extrak eys.</li>
  <li>Slidingsindow in front, fixedwindowafthatch, tinted</li>
  <li>Slidingsindow in front, fixedwindowafthatch, tinted</li>
  <li>Rear breaklight</li>
  <li>Side window tint</li>
  <li>LED interior lighting</li>
  <li>Roof bars from Thule</li>
</ul>

</div>

<div class="specification">

  <h2>Specification</h2>

<table>
  <tr>
    <td>Width/mm</td>
    <td>1760</td>
  </tr>
  <tr>
    <td>Length/mm</td>
    <td>1590</td>
  </tr>
  <tr>
    <td>Height/mm</td>
    <td>640</td>
  </tr>
  <tr>
    <td>Loading height/mm</td>
    <td>1040</td>
  </tr>
  <tr>
    <td>Loading width/mm</td>
    <td>1350</td>
  </tr>
  <tr>
    <td>Weight/kg standard</td>
    <td>60 kg</td>
  </tr>
  <tr>
    <td>Maximum roof load/kg</td>
    <td>50 kg</td>
  </tr>
  <tr>
    <td>Width of the side door/mm</td>
    <td>1200 - 1000</td>
  </tr>
  <tr>
    <td>Height of the side door/mm</td>
    <td>760 - 720</td>
  </tr>
  <tr>
    <td>Max box size through aft hatch mm</td>
    <td>1300 x 1050 x 920</td>
  </tr>
  <tr>
    <td>Max box size inside compartment mm</td>
    <td>1300 x 1200 x 1040</td>
  </tr>
</table>
</div>

</article>
</div>

{% endblock %}
