{% extends('base.html') %}

{% set page_title = _("Navette Homepage") %}
{% set meta_description = _("We offer composite solutions for businesses and individuals. Have a project to be done? Let us know.") %}

{% block main %}

<div class="page__wrapper page__wrapper--home">
  <section class="grid menu">

    <figure class="menu__section effect-bubba">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/img/automotive_xl.jpg" media="(min-width: 2000px)">
          <source srcset="/img/automotive_l.jpg" media="(min-width: 600px)">
          <source srcset="/img/automotive_m.jpg" media="(min-width: 400px)">
          <source srcset="/img/automotive_s.jpg">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/img/automotive_s.jpg" alt="Automotive">
        </picture>
        <figcaption class="menu__section__description">
            <h2>{{ _("Automotive") }}</h2>
            <p class="subtitle">{{ _("Composite solutions for automotive industry") }}</p>
        </figcaption>
        <a href="{{ '/' + locale if locale else '' }}/automotive">
          {{ _("View category") }}
        </a>
    </figure>

    <figure class="menu__section effect-bubba">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/img/watercraft_xl.jpg" media="(min-width: 2000px)">
          <source srcset="/img/watercraft_l.jpg" media="(min-width: 600px)">
          <source srcset="/img/watercraft_m.jpg" media="(min-width: 400px)">
          <source srcset="/img/watercraft_s.jpg">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/img/watercraft_s.jpg" alt="boats">
        </picture>
        <figcaption class="menu__section__description">
            <h2>{{ _("Boats") }}</h2>
            <p>{{ _("Practical multi-purpose boats with emphasis on ergonomics") }}</p>
        </figcaption>
        <a href="{{ '/' + locale if locale else '' }}/boats">
          {{ _("View category") }}
        </a>
    </figure>


  </section>
</div>

{% endblock %}
