{% extends(locale + '/' + 'base.html') %}
{% block main %}

<div class="page__wrapper page__wrapper--home">
  <div class="menu">

    <section class="menu__section">
      <a href="{{ '/en' if locale == 'en'}}/auto">

        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="http://placehold.it/1600x1000" media="(min-width: 1000px)">
          <source srcset="http://placehold.it/1200x800" media="(min-width: 800px)">
          <source srcset="http://placehold.it/800x500">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="http://placehold.it/800x500" alt="{{ auto_alt_text }}">
        </picture>

        <div class="menu__section__description">
          <div class="inner">
            <h2>{{ auto_title }}</h2>
            <p class="subtitle">{{ auto_subtitle }}</p>
          </div>
        </div>
      </a>
    </section>

    <section class="menu__section">
      <a href="{{ '/en' if locale == 'en'}}/boats">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/img/watercraft_xl.jpg" media="(min-width: 2000px)">
          <source srcset="/img/watercraft.jpg" media="(min-width: 1000px)">
          <source srcset="/img/watercraft_med.jpg" media="(min-width: 480px)">
          <source srcset="/img/watercraft_small.jpg">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/img/watercraft_small.jpg" alt="{{ water_alt_text }}">
        </picture>
        <div class="menu__section__description">
          <div class="inner">
            <h2>{{ water_title }}</h2>
            <p>{{ water_subtitle }}</p>
          </div>
        </div>
      </a>
    </section>

    <section class="menu__section">
      <a href="{{ '/en' if locale == 'en'}}/boats">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="http://placecage.com/c/1600/1000" media="(min-width: 2000px)">
          <source srcset="http://placecage.com/c/1200/800" media="(min-width: 1000px)">
          <source srcset="http://placecage.com/c/800/500" media="(min-width: 480px)">
          <source srcset="http://placecage.com/c/800/500">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="http://placecage.com/g/800/500" alt="{{ water_alt_text }}">
        </picture>
        <div class="menu__section__description">
          <div class="inner">
            <h2>Other</h2>
            <p>Different work that does not belong here</p>
          </div>
        </div>
      </a>
    </section>

  </div>
</div>

{% endblock %}
