{% extends 'base.html' %}
{% block main %}

<div class="page__wrapper page__wrapper--home">
  <div class="menu">

    <section class="menu__section">
      <a href="/boats">
        <img src="/img/automotive.jpg" alt="Automotive" />
        <div class="menu__section__description">
          <div class="inner">
          <h2>Automotive</h2>
          <p></p>
          </div>
        </div>
      </a>
    </section>

    <section class="menu__section">
      <a href="/boats">
        <img src="/img/watercraft.jpg" alt="Båter" />
        <div class="menu__section__description">
          <div class="inner">
          <h2>Båter</h2>
          <p>Flerbruksbåter hvor praktiske løsninger og kvalitet er sterkt vektlagt<p>
          </div>
        </div>
      </a>
    </section>

  </div>
</div>

{% endblock %}
