{% extends(locale + '/' + 'base.html') %}
{% block main %}

<div class="page__wrapper page__wrapper--home">
  <div class="menu">

    <section class="menu__section">
      <a href="{{ '/' + locale if locale else '' }}/auto">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/img/amarok/1_XL.jpg" media="(min-width: 2000px)">
          <source srcset="/img/amarok/1_L.jpg" media="(min-width: 600px)">
          <source srcset="/img/amarok/1_M.jpg" media="(min-width: 400px)">
          <source srcset="/img/amarok/1_S.jpg">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/img/amarok/1_S.jpg" alt="Automotive">
        </picture>
        <div class="menu__section__description">
          <div class="inner">
            <h2>{{ auto_title }}</h2>
            <p class="subtitle">{{ auto_subtitle }}</p>
          </div>
        </div>
      </a>
    </section>

    <section class="menu__section">
      <a href="{{ '/' + locale if locale else '' }}/boats">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/img/watercraft_xl.jpg" media="(min-width: 2000px)">
          <source srcset="/img/watercraft.jpg" media="(min-width: 1000px)">
          <source srcset="/img/watercraft_med.jpg" media="(min-width: 480px)">
          <source srcset="/img/watercraft_small.jpg">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/img/watercraft_small.jpg" alt="{{ water_alt_text }}">
        </picture>
        <div class="menu__section__description">
          <div class="inner">
            <h2>{{ water_title }}</h2>
            <p>{{ water_subtitle }}</p>
          </div>
        </div>
      </a>
    </section>


  </div>
</div>

{% endblock %}
