{% extends 'base_en.html' %}
{% block main %}

<div class="page__wrapper page__wrapper--home">
  <div class="menu">

    <section class="menu__section">
      <a href="/auto">

        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="http://placehold.it/1600x1000" media="(min-width: 1000px)">
          <source srcset="http://placehold.it/1200x800" media="(min-width: 800px)">
          <source srcset="http://placehold.it/800x500">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="http://placehold.it/800x500" alt="Automotive">
        </picture>

        <div class="menu__section__description">
          <div class="inner">
          <h2>Automotive</h2>
          <p>Composite solutions for automotive industry</p>
          </div>
        </div>
      </a>
    </section>

    <section class="menu__section">
      <a href="/boats">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/img/watercraft_xl.jpg" media="(min-width: 2000px)">
          <source srcset="/img/watercraft.jpg" media="(min-width: 1000px)">
          <source srcset="/img/watercraft_med.jpg" media="(min-width: 480px)">
          <source srcset="/img/watercraft_small.jpg">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/img/watercraft_small.jpg" alt="Maritime">
        </picture>
        <div class="menu__section__description">
          <div class="inner">
          <h2>Watercraft</h2>
          <p>Multi-purpose boats with special emphasis on ergonomics</p>
          </div>
        </div>
      </a>
    </section>

  </div>
</div>

{% endblock %}
