{% macro product_cta_no(product="") %}
<div class="cta">
  <div class="cta__description">
    <h2>Be om et tilbud</h2>
    <span>Ønsker du et pristilbud? Tips oss! </span>
  </div>
  <div class="cta__form">
    <form action="/mail" method="post">
      <label for="email">E-post:
        <input type="email" name="email" id="email" placeholder="Din e-post" />
      </label>

      <label for="location">Adresse:
        <input type="text" name="location" id="location" placeholder="Postnr og sted" />
      </label>

      <label for="msg">Product:
        <textarea name="msg" id=msg rows="8" cols="40" placeholder="Which product? What package? When you need it?"></textarea>
      </label>

      <input class="button right" type="submit" name="submit" id="submit" value="Send" />
    </form>
  </div>
  <div class="cta__note">
    <hr />
    <p>Vil du få mer informasjon? Har du spørsmål, forespørsler eller annet? Ta gjerne kontakt med oss.</p>
  </div>
</div>
{% endmacro %}

{% macro product_cta(product="") %}
<div class="cta">
  <div class="cta__description">
    <h2>{{ _("Request a quote") }}</h2>
    <span>{{ _("Interested in pricing? Let us know, please!") }}</span>
  </div>
  <div class="cta__form">
    <form action="/mail" method="post">
      <label for="email"> {{ _("E-mail") }}
        <input type="email" name="email" id="email" placeholder="{{ _("Your e-mail") }}" />
      </label>

      <label for="email">{{ _("Where are you located?") }}
        <input type="text" name="location" id="location" placeholder="{{ _("Your place of residence") }}" />
      </label>

      <label for="msg">{{ _("Product") }}
        <textarea name="msg" id=msg rows="8" cols="40" placeholder="{{ _("What features? When do you need it?") }}"></textarea>
      </label>

      <input type="hidden" name="product" value="{{ product }}">

      <input class="button right" type="submit" name="submit" id="submit" value="{{ _("Send") }}" />
    </form>
  </div>
  <div class="cta__note">
    <hr />
    <p>{{ _("Need more information? Have any questions, requests or something to say?") }} <a href="{{ '/' + locale if locale else '' }}contact">{{ _("Go to our contact page.") }}</a></p>
  </div>
</div>
{% endmacro %}

{% macro specification_notice() %}
    <p>
      <span class="smallprint">{{ _("We reserve the right to change the specification without notice. Actual performance may vary individually in relation to the specified test values") }}</span>
    </p>
{% endmacro %}
