{% macro product_cta(product="") %}
<div class="cta">
  <div class="cta__description">
    <h2>Be om et tilbud</h2>
    <span>Ønsker du et pristilbud? Tips oss! </span>
  </div>
  <div class="cta__form">
    <form action="/mail" method="post">
      <label for="email">E-post:
        <input type="email" name="email" id="email" placeholder="Din e-post" />
      </label>

      <label for="location">Adresse:
        <input type="text" name="location" id="location" placeholder="Postnr og sted" />
      </label>

      <label for="msg">Product:
        <textarea name="msg" id=msg rows="8" cols="40" placeholder="Which product? What package? When you need it?"></textarea>
      </label>

      <input class="button right" type="submit" name="submit" id="submit" value="Send" />
    </form>
  </div>
  <div class="cta__note">
    <hr />
    <p>Vil du få mer informasjon? Har du spørsmål, forespørsler eller annet? <a href="/contact">Ta gjerne kontakt med oss.</a></p>
  </div>
</div>
{% endmacro %}

{% macro product_cta_en(product="") %}
<div class="cta">
  <div class="cta__description">
    <h1>Request a quote</h2>
    <span>Interested in pricing? Let us know, please! </span>
  </div>
  <div class="cta__form">
    <form action="/mail" method="post">
      <label for="email">Email
        <input type="email" name="email" id="email" placeholder="Your e-mail" />
      </label>

      <label for="email">Where are you located?
        <input type="text" name="location" id="location" placeholder="Your place of residence" />
      </label>

      <label for="msg">Product
        <textarea name="msg" id=msg rows="8" cols="40" placeholder="Which product? What package? When do you need it?"></textarea>
      </label>

      <input class="button right" type="submit" name="submit" id="submit" value="Send" />
    </form>
  </div>
  <div class="cta__note">
    <hr />
    <p>Need more information? Have any questions, requests or something to say? <a href="/en/contact"> Go to our contact page</a>.</p>
  </div>
</div>
{% endmacro %}
