{% extends('base.html') %}
{% block main %}

<article class="post_article">
  <header class="post_header">
    <h1 class="post_heading">S540</h1>
  </header>

  <img src="/img/s540m.jpg" alt="Navette S540" />

  <h2>Gallerie</h2>
  <img src="http://placehold.it/250x250" alt="1" />
  <img src="http://placehold.it/250x250" alt="1" />
  <img src="http://placehold.it/250x250" alt="1" />

  <h2>Beskrivelse</h2>
  <p>
    S540 er en sportslig styrekonsollbåt med sportslige og sikre sjøegenskaper. Under utviklingen av båten er det lagt særlig vekt på ergonometri. Det er enkelt å bevege seg i båten og sitteplassene er behagelige. Førerplassen er blant markedets desidert beste. Føreren kan sitte, halvt stå eller stå og likevel ha god oversikt over instrumenter og farvann. Ratt og gass/trim sitter akkurat der de skal være. Der er god plass til beina under styrekonsollen og knær kommer ikke i konflikt med noen kanter. Cocpitdybden er 62 cm på det laveste.
  </p>
  <p>
    Båten er naturligvis selvlensende. Vindskjermen gir god beskyttelse bak styrekonsollen. Skroget har en relativ dyp V-bunn med 21,5 grader I senter vannlinje. Det er håndopplagt med triaksial duk i skroget.. Hekken er spesielt kraftig da motorfundamentet er trukket noe bak hekken og forsterket direkte i langsgående stringere. Båten lander mykt i sjøen, hekken slipper ikke og det er bortimot umulig å kavitere propellen.
  </p>
  <p>
    Alt utstyr ombord er av beste kvalitet. Alle beslag er i rustfritt syrefast materiale.
    Under styrekonsollen er der et romslig stuerom. Under akterbenken er batterikasse, tankinspeksjon, samt stort stuverom.
  </p>

  <h2>Utstyr</h2>

  <strong>Standardutstyr S40</strong> <br />
  <ul>
    <li>Polstret sete med vippefront og gassdemper</li>
    <li>Fastmontert, nedfellbar badestig</li>
    <li>Stuverom for anker/tauverk</li>
    <li>Selvdrenerende cockpit</li>
    <li>Batterikasse m/hovedstrømbryter</li>
    <li>Manuell lensepumpe</li>
    <li>Låsbare rom til utstyr</li>
    <li>Fastmontert brennstofftank m/måler</li>
    <li>Stor vindskjerm for Nordiske forhold</li>
    <li>Eksklusivt instrumentpanel</li>
    <li>Bryterpanel m/12 V uttak</li>
    <li>Brannslukningsapparat</li>
    <li>Konsolltrekk</li>
  </ul>


  <strong>Ekstrautstyr S540</strong> <br />
  <ul>
    <li>Blått/hvitt skrog</li>
    <li>Flexiteek dørk</li>
    <li>Kalesje</li>
    <li>Puter på akterbenk</li>
    <li>Puter på frontbenk</li>
    <li>Coctailbord foran</li>
    <li>Radio/CD spiller</li>
    <li>Montering av ekkolodd</li>
    <li>Bunnsmøring</li>
    <li>Monteringspakke for Suzuki</li>
  </ul>


  <h2>Spesifikasjon</h2>
  <img src="/img/s540t.jpg" alt="S540 Spesifikasjon" />

  <ol>
    <li>Drenering   </li>
    <li>Manuell pumpe   </li>
    <li>Pullert  </li>
    <li>Badetrapp   </li>
    <li>Bensintank  </li>
    <li>Ankerbrønn  </li>
    <li>Stuverom cocpit</li>
    <li>Stuverom skrog</li>
    <li>Hanskerom</li>
  </ol>

  <dl>
    <dt>Lengde cm</dt>
    <dd>538</dd>
    <dt>Bredde cm</dt>
    <dd>208</dd>
    <dt>Dybde cm</dt>
    <dd>271</dd>
    <dt>Fribord senter</dt>
    <dd>73</dd>
    <dt>Høyde over vannlinje m/vindskjerm </dt>
    <dd>130</dd>
    <dt>Vekt uten motor</dt>
    <dd>520</dd>
    <dt>Nyttelast kg </dt>
    <dd>520</dd>
    <dt>Bæreevne personer </dt>
    <dd>7</dd>
    <dt>Stammelengde  </dt>
    <dd>Lang</dd>
    <dt>Motor effekt min kW/HK </dt>
    <dd>52/70</dd>
    <dt>Motor effekt max kW/HK </dt>
    <dd>103/140</dd>
    <dt>Kabellengde fot </dt>
    <dd>15"</dd>
    <dt>Styrewire lengde fot   </dt>
    <dd>14"</dd>
    <dt>Hydrauliske slanger lengde cm</dt>
    <dd> </dd>
    <dt>Konstruksjonskategori </dt>
    <dd>CE C</dd>
    <dt>Lensesystem </dt>
    <dd>Selvlenser</dd>
    <dt>Tank liter </dt>
    <dd>75</dd>
    <dt>Ankerboks foran </dt>
    <dd>1</dd>
    <dt>Stuerom antall</dt>
    <dd>3</dd>
    <dt>Hanskerom</dt>
    <dd>1</dd>
  </dl>


  <strong>Fartsprøver</strong> <br />
  <dl>
    <dt>Motor</dt>
    <dd>Suzuki DF90</dd>
    <dt>Hastighet knop 2 pers </dt>
    <dd>38,0</dd>
    <br />
    <dt>Motor</dt>
    <dd>Suzuki DF115</dd>
    <dt>Hastighet knop 2 pers </dt>
    <dd>43,0</dd>
  </dl>

  <span class="smallprint">Vi forbeholder oss retten til endring av spesifikasjoner uten varsel. Reelle ytelser vil kunne variere individuelt i forhold til oppgitte testverdier.</span>

  <h2>Kvalitet - Sikkerhet</h2>
  <p>Det er brukt førsteklasses GRP materialer i støpen. Gelcoaten er av en type som har den beste lysekthet og det er minimal vanninntrenging i den. Dette hindrer osmose.  Både i skrog og overbygg er det brukt sydd triaksial glassfibermatte. Dette gir et bedre styrk/vekt forhold. Alle beslag og skruer er i syrefast materiale. </p>

</article>

{% endblock %}


