{% extends('base_en.html') %}
{% block main %}

<div class="wrapper">
<article class="post__article">
  <div class="post__header">
    <h1 class="post__heading">S 540</h1>
  </div>

  <img src="/img/s540m.jpg" alt="Navette S 540" />

  <div class="gallery">
  <h2>Gallery</h2>
  <img src="http://placehold.it/250x250" alt="1" />
  <img src="http://placehold.it/250x250" alt="1" />
  <img src="http://placehold.it/250x250" alt="1" />
  </div>

  <div class="description">
  <h2>Description</h2>
  <p>
    S 540 is a sporty console boat with great performance. A special emphasis was put on ergonomics during the development stage of the boat. Seats are comfortable and it is possible to move around in the boat with ease. The cockpit is among the absolute best. The driver has a good overview of instruments and water no matter if standing or sitting. Steering wheel and gas/trim sits right where they should be and there is plenty of room for your legs under the steering consle. The windshield serves its purpose and provides good protection behind the control console. The hull has a relatively deep V-bottom which makes the ride soft even in rough waters.
    <span class="translate">
    Det er håndopplagt med triaksial duk i skroget. Hekken er spesielt kraftig da motorfundamentet er trukket noe bak hekken og forsterket direkte i langsgående stringere. Båten lander mykt i sjøen, hekken slipper ikke og det er bortimot umulig å kavitere propellen.
    </span>
    Under the console there is spacious storage room, while under the stern bench seat is located battery, <span class="translate">tankinspeksjon</span> and a large storage locker.
  </p>

  <strong>Quality - Security</strong>
  <p>The boat has an adequate self-bailing system, which is one of the most important safety features of any boat. High quality gelcoat and GRP materials are used in production, ensuring great physical properties and resistance to water. Therefore you dont have to worry about things like osmosis. The composite layer of both hull and superstructure includes stitched triaxal fiberglass mat, which allows for excellent strength-to-weight ratio. All on-board equipment is of high quality. All fittings and accessories are made from corrosion and acid resistant materials. </p>
  </div>

  <div class="equipment">
  <h2>Equipment</h2>

  <div class="wrapper">
  <strong>Standard equipment for S 540</strong> <br />
  <ul>
    <li>Padded seats with shock mitigation and flip-up front</li>
    <li>Fixed, foldable boarding ladder</li>
    <li>Storage compartment for anchor/ropes</li>
    <li>Self-bailing system</li>
    <li>Battery housing with main switch</li>
    <li>Manual bilge pump</li>
    <li>Lockable room for equipment</li>
    <li>Fixed fuel tank with capacity markings</li>
    <li>Large windshield, suited for Nordic conditions</li>
    <li>Exclusive dashboard</li>
    <li>Switch panel with 12V outlet</li>
    <li>Fire extinguisher</li>
    <li>Console cover</li>
  </ul>


  <strong>Extra equipment for S 540</strong><br />
  <ul>
    <li>Blue/White hull</li>
    <li>Flexiteek decking</li>
    <li>Canopy</li>
    <li>Pillows for front/rear seats</li>
    <li>Cocktail table</li>
    <li>Radio/CD player</li>
    <li>Sonar</li>
    <li>Anti-fouling</li>
    <li>Suzuki mounting kit</li>
  </ul>
  </div>
  </div>


  <div class="specification">

  <h2>Specification</h2>
  <img src="/img/s540t.jpg" alt="S540 Spesifikasjon" />

  <div class="wrapper">
  <ol>
    <li>Drainage</li>
    <li>Manual pump</li>
    <li>Bollard</li>
    <li>Boarding ladder</li>
    <li>Gas tank</li>
  </ol>

  <ol start="6">
    <li>Anchor locker</li>
    <li>Cockpit storage locker</li>
    <li>Stuverom skrog</li>
    <li>Glove compartment</li>
  </ol>
  </div>

  <hr />

  <div class="wrapper">

    <table>
      <tr>
        <td>Lengde cm</td>
        <td>538</td>
      </tr>
      <tr>
        <td>Bredde cm</td>
        <td>208</td>
      </tr>
      <tr>
        <td>Dybde cm</td>
        <td>271</td>
      </tr>
      <tr>
        <td>Fribord senter</td>
        <td>73</td>
      </tr>
      <tr>
        <td>Høyde over vannlinje m/vindskjerm </td>
        <td>130</td>
      </tr>
      <tr>
        <td>Vekt uten motor</td>
        <td>520</td>
      </tr>
      <tr>
        <td>Nyttelast kg</td>
        <td>520</td>
      </tr>
      <tr>
        <td>Bæreevne personer</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Stammelengde</td>
        <td>Lang</td>
      </tr>
      <tr>
        <td>Motor effekt min kW/HK</td>
        <td>52/70</td>
      </tr>
      <tr>
        <td>Motor effekt max kW/HK</td>
        <td>103/140</td>
      </tr>
      <tr>
        <td>Kabellengde fot</td>
        <td>15"</td>
      </tr>
      <tr>
        <td>Styrewire lengde fot</td>
        <td>14"</td>
      </tr>
      <tr>
        <td>Hydrauliske slanger cm</td>
        <td></td>
      </tr>
      <tr>
        <td>Konstruksjonskategori</td>
        <td>CE C</td>
      </tr>
      <tr>
        <td>Lensesystem</td>
        <td>Selvlenser</td>
      </tr>
      <tr>
        <td>Tank liter</td>
        <td>75</td>
      </tr>
      <tr>
        <td>Ankerboks foran</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Stuerom antall</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Hanskerom</td>
        <td>1</td>
      </tr>

      <tr>
        <td></td>
      </tr>

      <tr>
        <td>
          <strong>Fartsprøver</strong>
        </td>
      </tr>


      <tr>
        <td>Motor</td>
        <td>Suzuki DF90</td>
      </tr>
      <tr>
        <td>Hastighet knop 2 pers </td>
        <td>38,0</td>
      </tr>


      <tr>
        <td>Motor</td>
        <td>Suzuki DF115</td>
      </tr>
      <tr>
        <td>Hastighet knop 2 pers </td>
        <td>43,0</td>
      </tr>
    </table>

  </div>

  <hr />

  <p>
  <span class="smallprint">We reserve the right to change specification without notice. Actual performance may vary individually in relation to the specified test values</span>
  </p>
  </div>

</article>
</div>

{% endblock %}


