{% extends(locale + '/' + 'base.html') %}
{% set active_page="boats" %}
{% block main %}

<article class="post__article">
  <div class="post__header">
    <h1 class="post__heading">S 540</h1>
    <img src="/img/s540m.jpg" alt="Navette S 540" />
  </div>

  <div class="gallery">
    <a class="gallery__img th" href="/img/s540/1.jpg"><img src="/img/s540/th/1.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/s540/2.jpg"><img src="/img/s540/th/2.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/s540/3.jpg"><img src="/img/s540/th/3.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/s540/4.jpg"><img src="/img/s540/th/4.jpg" alt=""></a>
    <a class="gallery__img th" href="/img/s540/5.jpg"><img src="/img/s540/th/5.jpg" alt=""></a>
  </div>

  <div class="description">
    <div>
    <p class="columns">
      {% block description_text_one %}
      {% endblock %}
    </p>
    </div>
    <div class="half">
      <h6>{{ quality}}</h6>
      <p>
        {% block quality_description %}
        {% endblock %}
      </p>
    </div>
  </div>

  <div class="equipment">
    <h2>{{ features_title }}</h2>

    <ul>
      <h5>{{ standard_features_title }}</h5>
      {% for feature in standard_features %}
      <li>{{ feature }}</li>
      {% endfor %}
    </ul>

    <ul>
      <h5>{{ extra_features_title }}</h5>
      {% for feature in extra_features %}
      <li>{{ feature }}</li>
      {% endfor %}

    </ul>
  </div>

  <div class="specification">

    <h2>{{ specification_title}}</h2>
    <img src="/img/s540/s540.png" alt="Navette S 540" />

    <ol>
      {% for part in partmap_one %}
      <li>{{ part }}</li>
      {% endfor %}
    </ol>

    <ol start="6">
      {% for part in partmap_two %}
      <li>{{ part }}</li>
      {% endfor %}
    </ol>

    <hr />

    <table>
      <tbody>
        {% for property, value in specification %}
        <tr>
          <td>{{ property }}</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr />

    <p>
      <span class="smallprint">
        {% block smallprint %}
        {% endblock %}
      </span>
    </p>
  </div>

</article>

{% block cta %}
{% endblock %}

{% endblock %}


