{% extends('base_en.html') %}
{% block main %}

<div class="wrapper">
<article class="post__article">
  <div class="post__header">
    <h1 class="post__heading">S 565</h1>
  </div>

  <img src="/img/s565m.jpg" alt="Navette S 565" />

  <div class="gallery">
  <h2>Gallery</h2>
  <img src="http://placehold.it/250x250" alt="1" />
  <img src="http://placehold.it/250x250" alt="1" />
  <img src="http://placehold.it/250x250" alt="1" />
  </div>

  <div class="description">
  <h2>Description</h2>
  <p>
    S565 kombinerer fordelene med en Jeep og en bowrider. Den har Jeepens enkle bruksegenskaper og bowriderens beskyttelse mot vær og vind. Under utviklingen av båten er det lagt særlig vekt på ergonometri. Det er enkelt å bevege seg ibåten og sitteplassene er behagelige. Foran er der solseng til 2-3 personer med full lengde. Der er også mulig for 5-6 personer å sitte rundt et bord.
    Førerplassen er blant markedets desidert beste. Føreren kan sitte, halvt stå eller stå og likevel ha god oversikt over instrumenter og farvann. Ratt og gass/trim sitter akkurat der de skal være. Der er god plass til beina under styrekonsollen og knær kommer ikke i konflikt med noen kanter.
    Cocpiten er dyp med gode håndrekker. Båten er naturligvis selvlensende, også med 7 personer ombord. Vindskjermen gir god beskyttelse bak styrekonsollen.
    Skroget har en relativ dyp V-bunn med 21,5 grader i senter vannlinje. Det er håndopplagt med triaksial duk under vannlinjen. Hekken er spesielt kraftig da motorfundamentet er trukket noe bak hekken og forsterket direkte i langsgående forsterkninger.
    Alt utstyr ombord er av beste kvalitet. Alle beslag er i rustfritt syrefast materiale. Under benken foran er det rom til alle løse puter. Under styrekonsollen er der plass til fiskekasse eller kjøleboks, samt redningsvester o.l.. Der er også eget rom for lange gjenstander slik som fiskestang og vannski.
  </p>
  <strong>Advantages of Navette S 565</strong>
  <p>
    Under akterbenken er batterikasse, tankinspeksjon, samt stort stuverom. På hekken er det rom til fendere. Disse er jo ofte skitne og trenger ikke å tas inn i båten. Alle luker i cocpiten kan utstyres med lås.
    Høy hekk som gir god sikkerhet, port på hekken med integrert badetrapp, port på babord side for enkel i land-stiging., stor vindskjerm, gjennomtenkt ergonomisk førerplass, kalesje bak vinskjermen med plass til 6 personer, solseng eller sitteplass for 6 foran vindskjerm, store stuverom med plass til putesett, kjølebag, fiskestenger , redningsvester, vannski osv.
</p>

  <strong>Quality - Security</strong> 
  <p>The boat has an adequate self-bailing system, which is one of the most important safety features of any boat. High quality gelcoat and GRP materials were used in production, ensuring great physical properties and resistance to water. Therefore you dont have to worry about things like osmosis. The composite layer of both hull and superstructure includes stitched triaxal fiberglass mat, which allows for excellent strength-to-weight ratio. All on-board equipment is of high quality. All fittings and accessories are made from corrosion and acid resistant materials. </p>
</div>

<div class="equipment">
  <h2>Equipment</h2>

  <div class="wrapper">
  <strong>Standard equipment for S 565</strong> <br />

   <ul>
     <li>Hydraulisk styring</li>
     <li>Polstret sete med vippefront og gassdemper</li>
     <li>Fastmontert, nedfellbar badestig</li>
     <li>Vannskikrok</li>
     <li>Stuverom for anker/tauverk</li>
     <li>Selvdrenerende cockpit</li>
     <li>Batterikasse m/hovedstrømbryter</li>
     <li>Manuell lensepumpe</li>
     <li>Låsbare rom til baggasje/utstyr</li>
     <li>Fastmontert brennstofftank m/måler</li>
     <li>Stor vindskjerm for Nordiske forhold</li>
     <li>Eksklusivt instrumentpanel</li>
     <li>Bryterpanel m/automatsikringer</li>
     <li>Eksklusivt ratt</li>
     <li>Brannslukningsapparat</li>
   </ul>

  <strong>Extra equipment for S 565</strong> <br />

   <ul>
     <li>Blått skrog</li>
     <li>Flexiteek dørk</li>
     <li>Kalesje</li>
     <li>Puter på akterbenk</li>
     <li>Puter på frontbenk</li>
     <li>Coctailbord foran</li>
     <li>Solseng</li>
     <li>Radio/CD spiller med 2 høytalere</li>
     <li>Montering av ekkolodd</li>
     <li>Bunnsmøring</li>
     <li>Monteringspakke for motor</li>
   </ul>
 </div>
 </div>

 <div class="specification">
  <h2>Specification</h2>
  <img src="/img/s565t.jpg" alt="S565 Spesifikasjon" />

  <div class="wrapper">
  <ol>
    <li>Drenering</li>
    <li>Manuell pumpe</li>
    <li>Pullert</li>
    <li>Badetrapp</li>
    <li>Bensintank</li>
    <li>Ankerbrønn</li>
  </ol>
  <ol start="7">
    <li>Stuverom cocpit</li>
    <li>Stuverom skrog</li>
    <li>Hanskerom</li>
    <li>Drenert stuverom</li>
    <li>Sideport</li>
    <li>Hekkport</li>
  </ol>
</div>

  <hr />

  <div class="wrapper">


    <table>

    <tr>
      <td>Lengde cm</td>
      <td>565</td>
    </tr>
    <tr>
      <td>Bredde cm</td>
      <td>225</td>
    </tr>
    <tr>
      <td>Dybde cm</td>
      <td>31</td>
    </tr>
    <tr>
      <td>Fribord senter</td>
      <td>90</td>
    </tr>
    <tr>
      <td>Høyde over vannlinje m/vindskjerm </td>
      <td>166</td>
    </tr>
    <tr>
      <td>Vekt uten motor</td>
      <td>640</td>
    </tr>
    <tr>
      <td>Nyttelast kg</td>
      <td>580</td>
    </tr>
    <tr>
      <td>Bæreevne personer</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Stammelengde</td>
      <td>Lang</td>
    </tr>
    <tr>
      <td>Motor effekt min kW/HK</td>
      <td>52/70</td>
    </tr>
    <tr>
      <td>Motor effekt max kW/HK</td>
      <td>103/140</td>
    </tr>
    <tr>
      <td>Kabellengde fot</td>
      <td>16</td>
    </tr>
    <tr>
      <td>Styrewire lengde fot</td>
      <td></td>
    </tr>
    <tr>
      <td>Hydrauliske slanger lengde cm</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Konstruksjonskategori</td>
      <td>CE C</td>
    </tr>
    <tr>
      <td>Lensesystem</td>
      <td>Selvlenser</td>
    </tr>
    <tr>
      <td>Tank liter</td>
      <td>95</td>
    </tr>
    <tr>
      <td>Ankerboks foran</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Stuerom antall</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Hanskerom</td>
      <td>1</td>
    </tr>

  <tr>
  <td>
    <strong>Fartsprøver</strong>
  </td>
  </tr>

  <tr>
    <td>Motor</td>
    <td>Suzuki DF90</td>
  </tr>
  <tr>
    <td>Hastighet knop 2 pers</td>
    <td>36,0</td>
  </tr>
  <tr>
    <td>Motor</td>
    <td>Suzuki DF115</td>
  </tr>
  <tr>
    <td>Hastighet knop 2 pers</td>
    <td>41,5</td>
  </tr>
    </table>

</div>

  <hr />

  <p>
  <span class="smallprint">We reserve the right to change specification without notice. Actual performance may vary individually in relation to the specified test values</span>
 </p>
 </div>


<div class="review">
  <h2>Reviews</h2>
  <blockquote>
    <p>
      “Det er fortsatt mulig å tenke nytt når det gjelder skjærgårdsjeeper, noe Navette S565 er et godt eksempel på. Ålesundsbedriften har etter vår mening laget noe av det mest spennende og nytenkende på jeepfronten på lang tid.”
    </p>
    <cite><a href="#">Stein Viken, Båtliv</a></cite>
  </blockquote>
</div>

</article>
</div>

{% endblock %}


